
<div class="scrollable histo">  
  <div class="scrollable-content text-center">

	<div class="title">
		Historique
	</div>
    	
	<div class="page-content">
   		<div class="bloc">
    		<div class="ligne">
    			<div class="date">29/10/15 14h23’34”</div>
    			<div class="value">0,067 nSv/h</div>
    			<div class="button">
					<div class="send"></div>
					<div class="delete"></div>
				</div>
    		</div>
    		<div class="ligne">
    			<div class="date">01/11/15 16h23’34”</div>
    			<div class="value">0,069 nSv/h</div>
    			<div class="published">publié</div>
    		</div>
    		<div class="ligne">
    			<div class="date">23/11/15 16h56’34”</div>
    			<div class="value">0,062 nSv/h</div>
    			<div class="published">publié</div>
    		</div>
   		</div>
   	</div>
  </div>
</div>
