<div class="scrollable mesure2">  
  <div class="scrollable-content text-center">


    	
    	<div class="blocMesure1">
	    	
    		<div class="bloc">
    		<div class="blocGps">
	    		<div class="gps">GPS : good</div>
	    	</div>
	    		<div class="ligne">
	    			<div class="desc">Latitude : </div>
	    			<div class="value">48,175 N</div>
	    		</div>
	    		<div class="ligne">
	    			<div class="desc">Longitude : </div>
	    			<div class="value">2,4536 O</div>
	    		</div>
    		</div>
    		<div class="bloc">
	    		<div class="ligne">
	    			<div class="desc">Date : </div>
	    			<div class="value">02/01/2015</div>
	    		</div>
	    		<div class="ligne">
	    			<div class="desc">Début de la mesure : </div>
	    			<div class="value">14h23’34”</div>
	    		</div>
	    		<div class="ligne">
	    			<div class="desc">Durée :</div>
	    			<div class="value">6’23”</div>
	    		</div>
	    		<div class="ligne">
	    			<div class="desc">Température moyenne du capteur : </div>
	    			<div class="value">17°C</div>
	    		</div>
    		</div>
    		<div class="bloc">
	    		<div class="ligne">
	    			<div class="desc">Nombre de coups : </div>
	    			<div class="value">48</div>
	    		</div>
	    		<div class="ligne">
	    			<div class="desc">Mesure : </div>
	    			<div class="value">0,067 nSv/h</div>
	    		</div>
    		</div>
    		
    		<div class="clear"></div>
    	</div>
    	<div class="blocMesure2">
			<div class="bloc">
	    			<div class="desc">Environnement de la mesure : </div>
	    			<div class="value">48</div>
    		</div>
    		<div class="bloc">
	    		<div class="ligne">
	    			<div class="desc">Position des capteurs: </div>
	    			<div class="value">48</div>
	    		</div>
    		</div>
    	</div>
    	<div class="blocMesure3">
   			<div ng-click="validMesure($event)" class="button-mesure">OK</div>
    	</div>
    	
    
  

  </div>
</div>
