
<div class="scrollable histo"> 
<div class="title">
		Historique
	</div> 
  <div class="scrollable-content text-center">

	
    	
	<div class="page-content">
   		<div class="bloc">
   		
   		<div ng-repeat="(key, measure) in measures">
   			<div class="ligne">
    			<div class="date">{{measure.tsStart}}</div>
    			<div class="value">{{measure.radiation}} nSv/h</div>
    			<div class="button" ng-if='!measure.sent'>
					<div class="send" ng-click="doSend(measure.id)"></div>
					<div class="delete"></div>
					
				</div>
				<div class="published" ng-if='measure.sent'>publié</div>
    		</div>
		</div>
   		
   		
   		</div>
   	</div>
  </div>
</div>
