<div class="scrollable home">  
  <div class="scrollable-content">

    <div class="list-group text-center">
    	<div class="logo"></div>
    	<div class="homesubtitle">mesurer la radioactivité</div>
    	<div class="gps">GPS : good</div>
    	<br/>
    	<div class="capteur2" ng-class="{'on': state=='2' || state=='3','off': state=='1'}">
    		<div ng-if="state == '2' || state == '3'">
	    		Capteur détecté :
	    	</div>
	    	<div ng-if="state == '4'">
	    		Capteur AK3Zim34 : OK
	    	</div>
    	</div>
    	<div class="capteur" ng-click="buttonSearchCapteur($event)" ng-class="{'on': state=='2' || state=='3','off': state=='4'}">
	    	<div ng-if="state == '1'">
	    	Pas de capteur<br/>CLIQUEZ ICI
	    	</div>
	    	<div ng-if="state == '2'">
	    	Aucun capteur <span class="icon-progress"></span>
	    	</div>
	    	<div ng-if="state == '3'">
	    	AK3Zim34 : OK
	    	</div>
    	</div>
    
     <!-- <div class="list-group-item list-group-item-home">
        <h1>{{appName}}</h1>
      </div>
       <div class="list-group-item list-group-item-home media">
        <div>
          <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Device?</h3>
            <div id="deviceList">Liste des devices.</div>
        </div>
      </div>



      <div class="list-group-item list-group-item-home media">
        <div>
          <i class="fa fa-tachometer feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Mesure</h3>
            <div id="stateData">Etat : <span>Stop</span></div>
            <div id="paquetData">...</div>
            <button class="btn btn-primary" ng-click="getData($event)">Lancer</button>
            <button class="btn btn-primary" ng-click="stopData($event)">Arrêter</button>
        </div>
      </div>


      <div class="list-group-item list-group-item-home media">
        <div>
          <i class="fa fa-expand feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Resize your browser</h3>
            Stretch and squeeze your browser window to see both mobile and desktop versions.
        </div>
      </div>

      <div class="list-group-item list-group-item-home media">
        <div>
          <i class="fa fa-stethoscope feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Submit an issue</h3>
            <p>Please submit any issue you'll find, <a href="https://github.com/mcasimir/mobile-angular-ui/issues" target='blank' id='#home-report'>reporting</a> your user agent string:<br>
            </p>
<pre>{{userAgent}}</pre>
            <p>
              It would help a lot!
            </p>
        </div>
      </div>
      -->
      <div class="button-home-bottom">
      	<div ng-click="doMesure($event)" class="button-home" ng-class="{'off': state=='1' || state=='2','on': state=='3' || state=='4'}"></div>
      </div>

    </div>

  </div>
</div>
