<div class="scrollable mesure2">  
  <div class="scrollable-content text-center">


    	
    	<div class="blocMesure1">
	    	
    		<div class="bloc">
    		<div class="blocGps">
	    		<div class="gps" ng-class="{error:gps=='error',bad:gps=='bad'}">
		    		GPS : 
		    		<span ng-if="gps=='error'">erreur</span>
		    		<span ng-if="gps=='bad'">moyen</span>
		    		<span ng-if="gps=='good'">bon</span>
		    	</div>
	    	</div>
	    		<div class="ligne">
	    			<div class="desc">Latitude : </div>
	    			<div class="value">{{mesure.latitude}} N</div>
	    		</div>
	    		<div class="ligne">
	    			<div class="desc">Longitude : </div>
	    			<div class="value">{{mesure.longitude}} O</div>
	    		</div>
    		</div>
    		<div class="bloc">
	    		<div class="ligne">
	    			<div class="desc">Date : </div>
	    			<div class="value">{{getDate(mesure.timedeb)}}</div>
	    		</div>
	    		<div class="ligne">
	    			<div class="desc">Début de la mesure : </div>
	    			<div class="value">{{getTime(mesure.timedeb)}}</div>
	    		</div>
	    		<div class="ligne">
	    			<div class="desc">Durée :</div>
	    			<div class="value">{{getDuration(mesure.duration)}}</div>
	    		</div>
	    		<div class="ligne">
	    			<div class="desc">Température moyenne du capteur : </div>
	    			<div class="value" ng-if="mesure.temperature!=-1000">{{mesure.temperature}}°C</div>
	    			<div class="value" ng-if="mesure.temperature==-1000">-°C</div>
	    		</div>
    		</div>
    		<div class="bloc">
	    		<div class="ligne">
	    			<div class="desc">Nombre de coups : </div>
	    			<div class="value">{{mesure.total}}</div>
	    		</div>
	    		<div class="ligne">
	    			<div class="desc">Mesure : </div>
	    			<div class="value">{{mesure.valeurnsv}} &#181;Sv/h</div>
	    		</div>
    		</div>
    		
    		<div class="clear"></div>
    	</div>
    	<div class="blocMesure2">
			<div class="bloc">
	    			<div class="desc">Environnement de la mesure</div>
	    			<div class="radios">
		    			<input type="radio" name="radioEnv" value="countryside" id="env1" ng-model="$parent.modelEnv">
						<label for="env1" ng-class="{'on':$parent.modelEnv=='countryside'}">à la campagne</label>
						<input type="radio" name="radioEnv" value="ontheroad" id="env2" ng-model="$parent.modelEnv">
						<label for="env2" ng-class="{'on':$parent.modelEnv=='ontheroad'}">sur la route</label>
						<input type="radio" name="radioEnv" value="city" id="env3" ng-model="$parent.modelEnv">
						<label for="env3" ng-class="{'on':$parent.modelEnv=='city'}">en ville</label>
						<input type="radio" name="radioEnv" value="inside" id="env4" ng-model="$parent.modelEnv">
						<label for="env4" ng-class="{'on':$parent.modelEnv=='inside'}">à l'interieur</label>
						<input type="radio" name="radioEnv" value="plane" id="env5" ng-model="$parent.modelEnv">
						<label for="env5" ng-class="{'on':$parent.modelEnv=='plane'}">en avion</label>
					</div>
    		</div>
    		<div class="bloc">
	    		<div class="ligne">
	    			<div class="desc">Position des capteurs</div>
	    			<div class="radios2">
		    			<input type="radio" name="radioPos" value="0" id="pos1" ng-model="$parent.modelPos">
						<label for="pos1" ng-class="{'on':$parent.modelPos==0}"><span>1</span>Au sol</label>
						<input type="radio" name="radioPos" value="1" id="pos2" ng-model="$parent.modelPos">
						<label for="pos2" ng-class="{'on':$parent.modelPos==1}"><span>2</span>A 1 mètre du sol</label>
	
					</div>
					<div class="textes">
						<input type="text" name="tags" placeholder="Tags : #" ng-model="$parent.modelTags" ng-disabled="!connexion.connexion"/>
						<input type="text" name="notes" placeholder="Notes" ng-model="$parent.modelDesc" ng-disabled="!connexion.connexion"/>
						<div class="desc" ng-if="!connexion.connexion">Vous devez être connecté pour pouvoir renseigner ces champs</div>
					</div>
	    		</div>
    		</div>
    	</div>
    	<div class="blocMesure3">
   			<button ng-click="validMesure($event)" class="button-mesure">OK</button>
   			<div class="annul"><div ng-click="goHome($event)" class="button-more">Annuler</div></div>
   			<div class="expert"><div ng-click="doExpert($event)" class="button-more" ng-if='$parent.expert_mode'>Expert</div></div>
    	</div>
    	
    
  

  </div>
</div>
