<div class="scrollable mesure">  
  <div class="scrollable-content text-center">


    	<div class="blocGps">
    		<div class="gps" ng-class="{error:gps=='error',bad:gps=='bad'}">
		    		GPS : 
		    		<span ng-if="gps=='error'">erreur</span>
		    		<span ng-if="gps=='bad'">moyen</span>
		    		<span ng-if="gps=='good'">bon</span>
		    </div>
    	</div>
    	<div class="blocMesure1">
    		<div class="flex-container1">
	    		<div class="mesureDeb">
	    			<div class="desc">Début de la mesure</div>
	    			<div class="value">{{getTime(mesure.timedeb)}}</div>
	    		</div>
	    		<div class="border"></div>
	    		<div class="mesureTemp">
	    			<div class="desc">Temp' capteur</div>
	    			<div class="value" ng-if="mesure.temperature!=-1000">{{mesure.temperature}}°C</div>
	    			<div class="value" ng-if="mesure.temperature==-1000">-°C</div>
	    		</div>
    		</div>
    		<div class="fiability">
    			<div class="desc">Fiabilité&nbsp;:&nbsp;</div>
    			<div class="progressbar">
    				<div class="progressbar1">
    					<div class="progressbar2"></div>
    				</div>
    			</div>
    		</div>
    		<div class="flex-container1">
    			<div class="nbCoups1">
	    			<div class="desc">Nb coups</div>
	    			<div class="value">{{mesure.total}}</div>
	    		</div>
	    		<div class="border"></div>
	    		<div class="nbCoups2">
	    			<div class="desc">Nb de coups <br/>par min</div>
	    			<div class="value">{{mesure.moymin}}</div>
	    		</div>
	    		<div class="duree">
	    			<div class="desc">Durée</div>
	    			<div class="value">{{getDuration(mesure.duration)}}</div>
	    		</div>
    		</div>
    		
    		<div class="clear"></div>
    	</div>
    	<div class="blocMesure2">
			<div class="desc">Radiation estimée :</div>
			<div class="value"><span ng-if="mesure.total>10">{{mesure.valeurnsv}}</span><span ng-if="mesure.total<=10">NaN</span> &#181;Sv/h</div>
    	</div>
    	<div class="blocMesure3">
   			<button ng-click="endMesure($event)" class="button-mesure" ng-disabled="mesure.total<30">FIN</button>
    	</div>
    	
    
  

  </div>
</div>
