

	<div class="scrollable param">
	<div class="title">
		<div class="back" ng-click="doParam($event)" ></div>Paramètres
	</div>
 		  <div class="scrollable-content text-center">
	<div class="page-content">
	<div class="blocParam1">
		<div class="bloctitle">Publication automatique :</div>
		
		<div class="bloctext"><br/>
		En activant la publication automatique des mesures, les mesures que vous faites et les données associées sont automatiquement envoyées à la base collaborative OpenRadiation, et publiées sous licence <a target="_blank" href="https://www.openradiation.org/les-donnees">ODC-ODbL (Open Database License)</a>. Les données transmises correspondent aux données que vous saisissez, ainsi que des informations sur le modèle et l'identifiant du capteur ou du téléphone utilisé, votre nom d'utilisateur, ainsi que la position GPS au moment de la mesure (voir les conditions d’utilisations).
		
		     <br/>
        </div>
           
		<div class="ligne2">
			<div class="desc">Publication automatique :</div>
			<div class="button"><ui-switch ng-change="savePubliAuto()" ng-model='$parent.publi_auto'></ui-switch></div>
		</div>

	</div>
	
			</div>
		</div>
	</div>
