

	<div class="scrollable param">
	<div class="title">
		Paramètres
	</div>
 		  <div class="scrollable-content text-center">
	<div class="page-content">
	<div class="blocParam1">
		<div class="bloctitle">Capteurs</div>
		<div class="ligne" ng-click="doParam2($event)"><div class="desc">Capteurs bluetooth</div></div>
		
		<div class="ligne" style="opacity:0.5"><div class="desc">Capteurs wifi</div></div>
		<div class="ligne" style="opacity:0.5"><div class="desc">Capteurs non connecté habituel</div></div>
	</div>
	<div class="blocParam2">
		<div class="bloctitle">Compte utilisateur</div>
		<div class="ligne connecte" ng-if="connexion.connexion"><div class="desc">Authentifié comme<br/><span>{{connexion.login}}</span></div>
			<div class="button"><div ng-click="doDeconnex($event)" class="button-more">Déconnexion</div></div>
		</div>
		<div class="ligne deconnecte"  ng-if="!connexion.connexion"><div class="desc">Non connecté</div>
			<div class="button"><div ng-click="doParamConnex()" class="button-more">Se connecter</div></div>
		</div>
	</div>
	<div class="blocParam3">
		<div class="bloctitle">Mesures</div>
		<div class="ligne" ng-click="doParamPubli()"><div class="desc">Publication automatique des mesures</div></div>
		<div class="ligne2" style="opacity:0.5">
			<div class="desc">Signal auto pour les coups </div>
			<div class="button"><ui-switch ng-model='rememberMe'></ui-switch></div>
		</div>
		<div class="ligne2" style="opacity:0.5">
			<div class="desc">Signal audio de fin de mesure </div>
			<div class="button"><ui-switch ng-model='rememberMe2'></ui-switch></div>
		</div>
		<div class="ligne2">
			<div class="desc">Mode expert </div>
			<div class="button"><ui-switch ng-change="saveExpert()" ng-model='$parent.expert_mode'></ui-switch></div>
		</div>
	</div>
			</div>
		</div>
	</div>



