

	<div class="scrollable param">
	<div class="title">
		<div class="back" ng-click="doParam($event)" ></div>Paramètres
	</div>
 		  <div class="scrollable-content text-center">
	<div class="page-content">
	<div class="blocParam1">
		<div class="bloctitle">Publication automatique:</div>
		
		<div class="bloctext"><br/>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium sagittis est, ut dignissim orci vestibulum et. Aliquam imperdiet suscipit ex. Etiam tempor purus est, sit amet porta dui iaculis quis. Sed vitae convallis velit. Donec sed varius augue. Donec sed mauris mollis, accumsan elit nec, auctor ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       <br/>
        </div>
           
		<div class="ligne2">
			<div class="desc">Publication automatique:</div>
			<div class="button"><ui-switch ng-change="savePubliAuto()" ng-model='$parent.publi_auto'></ui-switch></div>
		</div>

	</div>
	
			</div>
		</div>
	</div>
