
	<div class="scrollable param">
	<div class="title">
		<div class="back" ng-click="doParam($event)" ></div>Paramètres
	</div>
 		  <div class="scrollable-content text-center">
	<div class="page-content">
	<div class="blocParam1">
		<div class="bloctitle">S'identifier :</div>
		<div class="bloctext connexion"><br/>
		Si vous avez un compte utilisateur sur <a target="_blank" href="https://www.openradiation.org">www.openradiation.org</a>, 
		vous pouvez renseigner ici les identifiants (login et mot de passe) de votre compte. 
		Ceci vous permet d’associer les mesures que vous publiez à votre compte utilisateur : 
		ainsi vous pourrez retrouver facilement l’ensemble de vos mesures sur <a target="_blank" href="https://www.openradiation.org">www.openradiation.org</a>. 
		Vous pourrez également « tagger » ou ajouter une description à vos mesures.  <br/>
		De plus, en publiant des mesures non anonymes, vous rendez la base collaborative OpenRadiation plus fiable.  <br/>
		Si vous ne l’avez pas déjà fait, nous vous invitons à créer un nouveau compte sur <a target="_blank" href="https://www.openradiation.org/user/register">www.openradiation.org</a>, puis à le paramétrer ici (synchronisation ~5 min).
       <br/>
        </div>
           
		<div class="ligne2 formconnect">
			
			<div class="desc">Nom d'utilisateur :</div>
			<div class="input"><input type="text" name="login" ng-model="$parent.login" /></div>
			<div class="desc">Mot de passe :</div>
			<div class="input"><input type="text" name="mdp" ng-model="$parent.mdp" /></div>
			<button ng-click="doConnex($event)" class="button-more button-submit" ng-disabled="$parent.mdp=='' || $parent.login==''">Connexion</button>
			
		</div>

	</div>
	
			</div>
		</div>
	</div>
