<div class="scrollable">
  <div class="scrollable-content">
      <div class="list-group" ui-toggle="uiSidebarRight">
      <a class="list-group-item" ui-toggle="uiSidebarRight" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ui-toggle="uiSidebarRight" href="#/mesureMano" ng-click="doMesureMano($event)">Saisie manuelle <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ui-toggle="uiSidebarRight" href="#/more" ng-click="doMore($event)" >A propos <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ui-toggle="uiSidebarRight" href="#/legal" ng-click="doLegal($event)" >Mentions Légales <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ui-toggle="uiSidebarRight" href="#/test" ng-click="doTest($event)" >Test/Debug <i class="fa fa-chevron-right pull-right"></i></a>
      </div>
  </div>
</div>
