
	<div class="scrollable param">
	<div class="title">
		<div class="back" ng-click="goHome($event)" ></div>Test
	</div>
 		  <div class="scrollable-content text-center">
	<div class="page-content">
	<div class="blocParam1">
		<div class="bloctitle">Liste des capteurs bluetooth</div>
		<!-- <div class="lignecapt"><div class="desc">qsfg43r4qeg</div><div class="connect">Connecté</div></div>
		<div class="lignecapt"><div class="desc">ez4fg654ezg</div><div class="connect"><div class="button">Se connecter</div></div></div>
		<div class="lignecapt"><div class="desc">a4e5f465aef</div><div class="connect"><div class="button">Se connecter</div></div></div> -->
		
		<div ng-repeat="(key, device) in devices">
			<div class="lignecapt">
				<div class="desc">
					{{device.name}}
					<div>{{device.uuid}}</div>
				</div>	
				<div class="connect">
					<div ng-if="connectedDevice.uuid==device.uuid">Connecté</div>
					<div ng-if="connectedDevice.uuid!=device.uuid" class="button" ng-click="doConnect(device)">Se connecter</div>
				</div>
			</div>
		</div>
		
		<div ng-if="connectedDevice.uuid!=0">
			<div class="gps" ng-click="doData(connectedDevice.uuid)" style="margin-top:10px">Data</div>
			<div class="gps" ng-click="doWriteChangeSilence(connectedDevice.uuid,1)" style="margin-top:10px">silence</div>
			<div class="gps" ng-click="doWriteChangeSilence(connectedDevice.uuid,0)" style="margin-top:10px">bruyant</div>
			<div class="gps" ng-click="doWriteAskInfo(connectedDevice.uuid)" style="margin-top:10px">Demande info</div>
			<div class="gps" ng-click="doWrite2(connectedDevice.uuid)" style="margin-top:10px">tension 380</div><br>
			<div class="gps" ng-click="doDisconnect(connectedDevice.uuid)" style="margin-top:10px">Disconnect</div>
			<div class="gps" ng-click="doDataTension3(connectedDevice.uuid)" style="margin-top:10px">Write set_tension (on)+get datta</div>

			<!-- <div class="gps" ng-click="doWrite5(connectedDevice.uuid)" style="margin-top:10px">Write set_tension (on test 3)</div> -->
			<br/>
			<pre>
			{{data2}}
			</pre>
			<div ng-repeat="(key, value) in dataDebug">
				<pre>
					{{value}}
				</pre>
			</div>
			
			
			<br/><br/>
			
		</div>

	</div>
	
			</div>
		</div>
	</div>



