
	<div class="scrollable param">
	<div class="title">
		<div class="back" ng-click="goHome($event)" ></div>Test
	</div>
 		  <div class="scrollable-content text-center">
	<div class="page-content">
	<div class="blocParam1">
		<div class="bloctitle">Device:</div>
		<div>
		<div class="gps" ng-class="{error:gps=='error',bad:gps=='bad'}">
    		GPS : 
    		<span ng-if="gps=='error'">erreur</span>
    		<span ng-if="gps=='bad'">moyen</span>
    		<span ng-if="gps=='good'">bon</span>
		 </div>
		Longitude {{gpslongitude}} O Latitude {{gpslatitude}} N
		</div>
		<div class="bloctitle">Liste des capteurs bluetooth</div>
		
		<div ng-repeat="(key, deviceSensor) in devices" >
			<div class="lignecapt">
				<div class="desc">
					{{deviceSensor.name}}
					<div>{{deviceSensor.uuid}}</div>
				</div>	
				<div class="connect">
					<div ng-if="connectedDevice.uuid==deviceSensor.uuid" class="button" ng-click="doDisconnect(connectedDevice.uuid)">Se déconnecter</div>
					<div ng-if="connectedDevice.uuid!=deviceSensor.uuid" class="button" ng-click="doConnect(deviceSensor)">Se connecter</div>
				</div>
			</div>
		</div>
		
		<div ng-if="connectedDevice!=0" style="color:white">
			<div class="gps" ng-click="doData(connectedDevice.uuid)" style="margin-top:10px;width:100%">onData</div>
			Audio : <div class="button" style="display:inline-block;vertical-align:middle"><ui-switch ng-change="saveAudioHits()" ng-model='$parent.connectedDevice.audioHits'></ui-switch></div>
			| Visuel :<div class="button" style="display:inline-block;vertical-align:middle"><ui-switch ng-change="saveVisualHits()" ng-model='$parent.connectedDevice.visualHits'></ui-switch></div>
			<!--<div class="gps" ng-click="doWriteChangeSilence(connectedDevice.uuid,1)" style="margin-top:10px">silence</div>
			<div class="gps" ng-click="doWriteChangeSilence(connectedDevice.uuid,0)" style="margin-top:10px">bruyant</div>-->
			<div class="gps" ng-click="doWriteAskInfo(connectedDevice.uuid)" style="margin-top:10px">Demande info</div>
			<div class="gps" ng-click="doWrite2(connectedDevice.uuid)" style="margin-top:10px">tension 380</div>
			<div class="gps" ng-click="doWrite3(connectedDevice.uuid)" style="margin-top:10px">tension 0</div></br>
			<!--<div class="gps" ng-click="doDisconnect(connectedDevice.uuid)" style="margin-top:10px">Disconnect</div>
			<!--<div class="gps" ng-click="doDataTension3(connectedDevice.uuid)" style="margin-top:10px">Write set_tension (on)+get datta</div>-->

			<!-- <div class="gps" ng-click="doWrite5(connectedDevice.uuid)" style="margin-top:10px">Write set_tension (on test 3)</div> -->
		</div>
		<!--<div ng-if="connectedDevice!=0" style="color:white">-->
		<div style="color:white">
			<br/>
			<div ng-repeat="(key, value) in dataDebug | orderBy:'':true">
				<pre>
					{{key}} :: {{value}}
				</pre>
			</div>
			<br/><br/>	
		</div>

	</div>
	
			</div>
		</div>
	</div>



