<ng-container *ngIf="currentMeasure$ | async as currentMeasure">
    <ng-container *ngIf="connectedDevice$ | async as connectedDevice">
        <app-header>
            <app-gps-indicator *ngIf="currentMeasure.startTime" other [compact]="true"
                               [accuracy]="currentMeasure.accuracy"></app-gps-indicator>
        </app-header>

        <ion-content>
            <div class="content">
                <div class="message"
                     *ngIf="currentMeasure.startTime && currentMeasure.accuracy >= positionAccuracyThreshold.No">
                    <div class="message-style">{{'HISTORY.MESSAGE_PREVENT_MEASURE_SENDING' | translate}}</div>
                </div>
                <div class="category top">
                    <ng-template #valueNotAvailable>
                        -
                    </ng-template>
                    <div class="item">
                        <div class="label">
                            {{'MEASURES.MEASURE_START' | translate}}
                        </div>
                        <div class="value">
                            <ng-container *ngIf="currentMeasure.startTime; else valueNotAvailable">
                                {{currentMeasure.startTime | date: 'HH:mm\'\'\'ss"'}}
                            </ng-container>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="item temperature">
                        <div class="label">
                            {{'MEASURES.SENSOR_TEMPERATURE' | translate}}
                        </div>
                        <div class="value">
                            <ng-container
                                    *ngIf="currentMeasure.temperature && currentMeasure.steps && currentMeasure.steps.length > 0; else valueNotAvailable">
                                {{currentMeasure.steps[currentMeasure.steps.length - 1].temperature | number :
                              '1.2-2'}}<span class="temperature-unit"> °C</span>
                            </ng-container>
                        </div>
                        <div class="icon">
                            <img src="assets/img/icon-temp.png">
                        </div>
                    </div>
                </div>
                <div class="accuracy">
                    <div class="label">
                        {{'MEASURES.FIABILITY' | translate | uppercase}}
                    </div>
                    <div class="accuracy-indicator">
                        <div class="accuracy-indicator-bar" [ngStyle]="{'width.%': hitsAccuracyWidth}"
                             [ngClass]="hitsAccuracy">
                        </div>
                    </div>
                </div>
                <div class="category">
                    <div class="item">
                        <div class="label">
                            {{'MEASURES.HITS_NUMBER' | translate}}
                        </div>
                        <div class="value">
                            <ng-container
                                    *ngIf="currentMeasure.hitsNumber || currentMeasure.hitsNumber === 0; else valueNotAvailable">
                                {{currentMeasure.hitsNumber | hitNumber}}
                            </ng-container>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="item">
                        <div class="label">
                            {{'MEASURES.HITS_PER_MIN' | translate}}
                        </div>
                        <div class="value">
                            <ng-container
                                    *ngIf="(currentMeasure.hitsNumber || currentMeasure.hitsNumber === 0)
                                    && currentMeasure.endTime && currentMeasure.startTime && currentMeasure.endTime > currentMeasure.startTime; else valueNotAvailable">
                                {{(currentMeasure.hitsNumber / (currentMeasure.endTime - currentMeasure.startTime)) *
                            1000 * 60 | hitNumberPerMin}}
                            </ng-container>
                        </div>
                    </div>
                    <div class="item duration">
                        <div class="label">
                            {{'MEASURES.DURATION' | translate}}
                        </div>
                        <div class="value">
                            <ng-container
                                    *ngIf="currentMeasure.endTime && currentMeasure.startTime; else valueNotAvailable">
                                {{(currentMeasure.endTime - currentMeasure.startTime) | duration}}
                            </ng-container>
                        </div>
                        <div class="icon">
                            <img src="assets/img/icon-duration.png">
                        </div>
                    </div>
                </div>
                <div class="radiation">
                    <ng-container
                            *ngIf="currentMeasure.hitsAccuracy >= connectedDevice.hitsAccuracyThreshold.medium; else hitsAccuracyBadOrStart">
                        <div class="label">
                            {{'MEASURES.DOSE_RATE' | translate | uppercase}}
                        </div>
                        <div class="value">
                            {{currentMeasure.value | number: '1.3-3'}}
                        </div>
                        <div class="unit">
                            {{'MEASURES.DOSE_RATE_UNIT' | translate}}
                        </div>
                    </ng-container>
                    <ng-template #hitsAccuracyBadOrStart>
                        <div class="start">
                            <ng-container
                                    *ngIf="currentMeasure.startTime || (currentSeries$ | async)?.measures.length > 1; else measureInit">
                                {{'MEASURES.ONGOING' | translate}}
                            </ng-container>
                            <ng-template #measureInit>
                                {{'MEASURES.INIT' | translate}}
                            </ng-template>
                        </div>
                    </ng-template>
                    <div class="background">
                        <img src="assets/img/bg-radiation.png">
                        <img src="assets/img/bg-radiation.png">
                    </div>
                </div>
                <ng-container *ngIf="currentSeries$ | async as currentSeries">
                    <div class="message">
                        <div class="message-series">
                            {{currentSeries.measures.length | i18nPlural : currentSeriesMessageMapping | translate : {
                          count: currentSeries.measures.length,
                          duration: currentSeries.startTime | date: 'HH:mm\'\'\'ss"'
                        } }}
                        </div>
                    </div>
                    <div class="message">
                        <div class="message-series" [ngSwitch]="currentSeries.params.paramSelected">
                            <ng-container *ngSwitchCase="measureSeriesParamsSelected.measureDurationLimit">
                                {{'MEASURE_SERIES.MESSAGE_SCAN_PARAM' | translate: {
                              measureLimit: currentSeries?.params.measureDurationLimit / 60000 | i18nPlural : minuteMessageMapping
                                | translate : { count: currentSeries?.params.measureDurationLimit / 60000 },
                              seriesLimit: (currentSeries.params.seriesDurationLimit / 3600000 | i18nPlural : hourMessageMapping
                                | translate : { count: currentSeries.params.seriesDurationLimit / 3600000 })
                            } }}
                            </ng-container>
                            <ng-container *ngSwitchCase="measureSeriesParamsSelected.measureHitsLimit">
                                {{'MEASURE_SERIES.MESSAGE_SCAN_PARAM' | translate: {
                              measureLimit: currentSeries?.params.measureHitsLimit | i18nPlural : hitsMessageMapping
                                | translate : { count: currentSeries?.params.measureHitsLimit },
                              seriesLimit: (currentSeries.params.seriesDurationLimit / 3600000 | i18nPlural : hourMessageMapping
                                | translate : { count: currentSeries.params.seriesDurationLimit / 3600000 })
                            } }}
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
                <div class="bottom-buttons">
                    <app-round-button [disabled]="!(canEndCurrentScan$ | async)"
                                      [srcOn]="'assets/img/button-on.png'"
                                      [srcOff]="'assets/img/button-off.png'"
                                      (click)="stopScan()">
                        {{'GENERAL.END' | translate}}
                    </app-round-button>
                    <div class="side-buttons">
                        <ion-button fill="clear" class="flat-button cancel" (click)="cancelMeasure()">
                            {{'GENERAL.CANCEL' | translate}}
                        </ion-button>
                    </div>
                </div>
            </div>
        </ion-content>

    </ng-container>
</ng-container>