@import 'src/theme/variables';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background: $third-color;
  padding-top: 7px;

  .bottom-buttons {
    margin: 20px 0;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    app-round-button {
      width: 50%;
    }
    .side-buttons {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      pointer-events: none;
      ion-button {
        pointer-events: all;
        position: absolute;
        --border-radius: 10px;
        &.cancel {
          right: 70%;
        }
      }
    }
  }

  .message {
    display: flex;
    padding-top: 5px;
    white-space: normal;
    text-align: center;
    .message-style {
      color: $base-color;
      font-size: 12px;
      font-style: italic;
    }
    .message-series {
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 15px;
      color: white;
      font-size: 16px;
    }
  }

  .graph-zone {
    width: 100%;
    margin: 20px 0 10px 0;
  }

  .category {
    display: flex;
    width: 100%;
    padding-top: 5px;
    &.top {
      padding-bottom: 10px;
      padding-top: 5px;
    }
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: auto;
      padding: 20px 10px 10px 10px;
      .label {
        color: $base-color;
        font-size: 12px;
        font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
        margin-bottom: 4px;
      }
      .value {
        color: white;
        font-size: 30px;
        font-family: 'ARIALROUNDED', Arial, Helvetica, sans-serif;
      }
      &.temperature {
        position: relative;
        padding-right: 24px;
        .temperature-unit {
          font-size: 20px;
        }
        .icon {
          position: absolute;
          top: 20px;
          right: 10px;
        }
      }
      &.duration {
        position: relative;
        .icon {
          position: absolute;
          top: 6px;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
            padding: 8px;
          }
          @media (min-width: 650px) {
            img {
              width: 55%;
            }
          }
        }
      }
    }
  }
  .separator {
    margin: 10px 0 4px 0;
    border: 1px solid $forth-color;
    border-radius: 2px;
    flex: none;
  }
  .accuracy {
    margin: 10px 0 20px 0;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    .label {
      z-index: 1;
      color: white;
      font-size: 14px;
      font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
    }
    .accuracy-indicator {
      z-index: 0;
      position: absolute;
      height: 20px;
      width: 100%;
      background: $forth-color;

      .accuracy-indicator-bar {
        height: 100%;
        width: 0;
        transition: width linear 200ms;

        &.start {
          background: black;
        }
        &.bad {
          background: #e70000;
        }
        &.medium {
          background: #ff7f00;
        }
        &.good {
          background: #ffce00;
        }
        &.accurate {
          background: #14c921;
        }
      }
    }
  }
  .radiation {
    background: $second-color;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    padding: 10px;
    position: relative;
    margin-top: 26px;
    .start {
      z-index: 1;
      font-size: 30px;
      font-family: 'ARIALROUNDED', Arial, Helvetica, sans-serif;
      text-align: center;
    }
    .label {
      z-index: 1;
      font-size: 12px;
      font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
      font-weight: 200;
    }
    .value {
      z-index: 1;
      margin: 4px;
      font-size: 50px;
      font-family: 'ARIALROUNDED', Arial, Helvetica, sans-serif;
    }
    .unit {
      z-index: 1;
      font-size: 12px;
      font-family: 'ARIALROUNDED', Arial, Helvetica, sans-serif;
    }
    .background {
      z-index: 0;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      animation: moving-background 6s linear infinite;

      img {
        min-width: 100%;
      }
    }

    @keyframes moving-background {
      from {
        transform: translateX(-100%);
      }
      to {
        transform: translateX(0);
      }
    }
  }
}
