@import 'src/theme/variables';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: $third-color;

  app-round-button {
    margin: auto 0;
    width: 50%;
  }

  .category {
    display: flex;
    width: 100%;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: auto;
      padding: 10px;
      .label {
        color: $base-color;
        font-size: 12px;
        font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
        margin-bottom: 4px;
      }
      .value {
        color: white;
        font-size: 30px;
        font-family: 'ARIALROUNDED', Arial, Helvetica, sans-serif;
      }
    }
    .separator {
      margin: 10px 0 4px 0;
      border: 2px solid $forth-color;
      border-radius: 2px;
      flex: none;
    }
    .temperature {
      position: relative;
      padding-right: 24px;
      .icon {
        position: absolute;
        top: 20px;
        right: 10px;
      }
    }
    .duration {
      position: relative;
      .icon {
        position: absolute;
        top: 6px;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          padding: 8px;
        }
      }
    }
  }
  .accuracy {
    margin: 10px 0 20px 0;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    .label {
      z-index: 1;
      color: white;
      font-size: 14px;
      font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
    }
    .accuracy-indicator {
      z-index: 0;
      position: absolute;
      height: 20px;
      width: 100%;
      background: $forth-color;

      .accuracy-indicator-bar {
        height: 100%;
        width: 0;
        transition: width linear 200ms;

        &.start {
          background: black;
        }
        &.bad {
          background: #e70000;
        }
        &.medium {
          background: #ff7f00;
        }
        &.good {
          background: #ffce00;
        }
        &.accurate {
          background: #14c921;
        }
      }
    }
  }
  .radiation {
    background: $second-color;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    padding: 10px;
    position: relative;
    margin-top: 26px;
    .start {
      z-index: 1;
      font-size: 30px;
      font-family: 'ARIALROUNDED', Arial, Helvetica, sans-serif;
      text-align: center;
    }
    .label {
      z-index: 1;
      font-size: 12px;
      font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
      font-weight: 200;
    }
    .value {
      z-index: 1;
      margin: 4px;
      font-size: 50px;
      font-family: 'ARIALROUNDED', Arial, Helvetica, sans-serif;
    }
    .unit {
      z-index: 1;
      font-size: 12px;
      font-family: 'ARIALROUNDED', Arial, Helvetica, sans-serif;
    }
    .background {
      z-index: 0;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      animation: moving-background 6s linear infinite;
    }

    @keyframes moving-background {
      from {
        left: -568px;
      }
      to {
        left: 0;
      }
    }
  }
}
