.notice {
  color: white;
  text-align: justify;
  padding: 10px;
  font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
  font-size: 15px;
  a {
    color: white;
  }
}

form {
  margin-top: -5px;
  padding: 0 20px;
}
