<app-header [backButton]="true" (backButtonClick)="goToSettings()">S'identifier</app-header>

<ion-content padding>
    <div class="notice">
        Si vous avez un compte utilisateur sur <a target="_blank" href="https://www.openradiation.org">www.openradiation.org</a>,
        vous pouvez renseigner ici les identifiants (nom d'utilisateur et mot de passe) de votre compte.
        Ceci vous permet d’associer les mesures que vous publiez à votre compte utilisateur :
        ainsi vous pourrez retrouver facilement l’ensemble de vos mesures sur <a target="_blank"
                                                                                 href="https://www.openradiation.org">www.openradiation.org</a>.
        Vous pourrez également « tagger » ou ajouter une description à vos mesures. <br/>
        De plus, en publiant des mesures en étant identifié, vous rendez la base collaborative OpenRadiation plus
        fiable. <br/>
        Si vous ne l’avez pas déjà fait, nous vous invitons à créer un compte sur <a target="_blank"
                                                                                     href="https://www.openradiation.org/user/register">www.openradiation.org</a>,
        puis à le paramétrer ici (synchronisation ~5 min).
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-list>
            <ion-item color="dark">
                <ion-label color="light" position="floating">Nom d'utilisateur</ion-label>
                <ion-input formControlName="login" required></ion-input>
            </ion-item>
            <ion-item color="dark">
                <ion-label color="light" position="floating">Mot de passe</ion-label>
                <ion-input type="password" formControlName="password" required></ion-input>
            </ion-item>
        </ion-list>
        <ion-button fill="clear" class="flat-button submit" type="submit" [disabled]="!loginForm.valid">
            <ng-container *ngIf="connecting; else notConnecting">
                <ion-spinner color="light"></ion-spinner>
            </ng-container>
            <ng-template #notConnecting>
                S'identifier
            </ng-template>
        </ion-button>
    </form>
</ion-content>
