@import 'src/theme/variables';

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 2000ms infinite;
  content: '\2026'; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
    margin-right: -1.25em;
  }
}

.inner-button {
  z-index: 10;
}

.clickable-device {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

.clickable-device:not(:first-child) {
  margin-top: 5px;
}

.state {
  font-size: 16px;
  font-weight: 200;
  &.connected {
    font-weight: normal;
  }
}
