<app-header [backButton]="true" (backButtonClick)="goToSettings()">Capteurs</app-header>

<ion-content padding>
    <ion-list *ngIf="connectedDevice$ | async as connectedDevice">
        <app-category-label>
            Capteur connecté
        </app-category-label>
        <ion-item class="clickable-device" color="dark" button (click)="disconnectDevice()">
            <ion-label>
                {{connectedDevice.apparatusVersion}}<br>{{connectedDevice.apparatusId}}
            </ion-label>
            <ion-button *ngIf="connectedDevice.params && connectedDevice.paramsModel" class="inner-button" fill="clear" size="default"
                        (click)="editDeviceParams($event, connectedDevice)">
                <img src="assets/img/icon-config.png">
            </ion-button>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="isScanning$ | async">
        <app-category-label>
            <span class="loading">Capteurs disponibles</span>
        </app-category-label>
        <ion-item *ngFor="let availableDevice of availableDevices$ | async" class="clickable-device" button color="dark" (click)="connectDevice(availableDevice)">
            <ion-label>
                {{availableDevice.apparatusVersion}}<br>{{availableDevice.apparatusId}}
            </ion-label>
            <ion-spinner *ngIf="connectingDevice && connectingDevice?.sensorUUID === availableDevice.sensorUUID" color="light"></ion-spinner>
            <ion-button *ngIf="availableDevice.params && availableDevice.paramsModel" class="inner-button" fill="clear" size="default"
                        (click)="editDeviceParams($event, availableDevice)">
                <img src="assets/img/icon-config.png">
            </ion-button>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="knownDevices$ | async as knowDevices">
        <app-category-label>
            <ng-container *ngIf="knowDevices.length > 0; else noKnownDevioce">
                Capteurs connus
            </ng-container>
            <ng-template #noKnownDevioce>
                Aucun capteur connu
            </ng-template>
        </app-category-label>
        <ion-item *ngFor="let knownDevice of knowDevices" color="dark">
            <ion-label>
                {{knownDevice.apparatusVersion}}<br>{{knownDevice.apparatusId}}
            </ion-label>
            <ion-button *ngIf="knownDevice.params && knownDevice.paramsModel" fill="clear" size="default"
                        (click)="editDeviceParams($event, knownDevice)">
                <img src="assets/img/icon-config.png">
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
