<div class="measure-mode-container">
  <span class="measure-mode-text">{{ 'HOME.MEASURE_MODE' | translate }}</span>

  <button
    class="measure-mode-selection top"
    (click)="switchMeasureMode(true)"
    [class]="{ selected: (planeMode$ | async) === true }"
  >
    <div class="arrow">
      <ion-icon size="large" name="arrow-forward-outline"></ion-icon>
    </div>
    <div class="text">{{ 'GENERAL.ON_PLANE' | translate }}</div>
  </button>

  <button
    class="measure-mode-selection bottom"
    (click)="switchMeasureMode(false)"
    [class]="{ selected: (planeMode$ | async) === false }"
  >
    <div class="arrow">
      <ion-icon size="large" name="arrow-forward-outline"></ion-icon>
    </div>
    <div class="text">{{ 'GENERAL.ON_GROUND' | translate }}</div>
  </button>

  <button class="explanations" (click)="goToPlaneMode()">
    <p
      [innerHTML]="
        (planeMode$ | async) === true
          ? ('HOME.MEASURE_MODE_EXPLANATIONS_PLANE' | translate)
          : ('HOME.MEASURE_MODE_EXPLANATIONS_GROUND' | translate)
      "
    ></p>
  </button>
</div>
