<app-header [backButton]="true" (back)="goToSettings()">{{'LOG_IN' | translate}}</app-header>

<ion-content>
    <div class="notice" [innerHTML]="'LOG_IN_NOTICE.PART1' | translate">
    </div>
    <div class="notice" [innerHTML]="'LOG_IN_NOTICE.PART2' | translate">
    </div>
    <div class="notice" [innerHTML]="'LOG_IN_NOTICE.PART3' | translate">
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-list>
            <ion-item>
                <ion-label position="floating">{{'USERNAME' | translate}}</ion-label>
                <ion-input formControlName="login" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{'PASSWORD' | translate}}</ion-label>
                <ion-input type="password" formControlName="password" required></ion-input>
            </ion-item>
        </ion-list>
        <div class="submit">
            <ion-button fill="clear" class="flat-button" type="submit" [disabled]="!loginForm.valid">
                <ng-container *ngIf="connecting; else notConnecting">
                    <ion-spinner></ion-spinner>
                </ng-container>
                <ng-template #notConnecting>
                    {{'LOG_IN' | translate}}
                </ng-template>
            </ion-button>
        </div>
    </form>
</ion-content>
