<app-header>{{'SETTINGS.TITLE' | translate}}</app-header>

<ion-content>
  <ion-list>
    <app-category-label>
      {{'SENSORS.TITLE' | translate}}
    </app-category-label>
    <ion-item button detail (click)="goToDevices()">
      <ion-label>
        {{'SENSORS.LIST' | translate}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list class="user-account">
    <app-category-label>
      {{'LOG_IN.USER_ACCOUNT' | translate}}
    </app-category-label>
    <ng-container *ngIf="login$ | async as login; else notLoggedIn">
      <ion-item>
        <ion-label> {{'LOG_IN.LOGGED_AS' | translate}}<br />{{login}} </ion-label>
        <ion-button fill="clear" class="flat-button-alt" (click)="logOut()">
          {{'LOG_IN.LOG_OUT' | translate}}
        </ion-button>
      </ion-item>
    </ng-container>
    <ng-template #notLoggedIn>
      <ion-item>
        <ion-label>
          {{'LOG_IN.NOT_LOGGED' | translate}}
        </ion-label>
        <ion-button fill="clear" class="flat-button-alt" (click)="goToLogIn()">
          {{'LOG_IN.TITLE' | translate}}
        </ion-button>
      </ion-item>
    </ng-template>
    <ion-item class="language">
      <ion-label>
        {{'LANGUAGE.TITLE' | translate}}
      </ion-label>
      <ion-select
        [ngModel]="language$ | async"
        (ngModelChange)="setLanguage($event)"
        [okText]="'GENERAL.OK' | translate"
        [cancelText]="'GENERAL.CANCEL' | translate"
      >
        <ion-select-option value="en">{{'LANGUAGE.ENGLISH' | translate}}</ion-select-option>
        <ion-select-option value="fr">{{'LANGUAGE.FRENCH' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <app-category-label>
      {{'MEASURES.TITLE' | translate}}
    </app-category-label>
    <ion-item button detail (click)="goToPlaneMode()">
      <ion-label>
        {{'HOME.MEASURE_MODE' | translate}}
      </ion-label>
    </ion-item>
    <ion-item button detail (click)="goToMeasuresParam()">
      <ion-label>
        {{'MEASURES.AUTO_PUBLISH' | translate}}
      </ion-label>
    </ion-item>
    <ion-item class="no-padding">
      <ion-label>
        {{'MEASURES.EXPERT_MODE' | translate}}
      </ion-label>
      <ion-toggle [ngModel]="expertMode$ | async" (ngModelChange)="toggleExpertMode($event)"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
