@import '../../../../../theme/variables.scss';

.user-account {
  background-color: $second-color;
}

ion-list {
  padding: 10px;

  .language {
    ion-select {
      --color: white;
      --icon-color: white;
    }
  }
}