@import './theme/variables.scss';

ion-content {
  --padding-top: 10px;
  --padding-end: 0px;
  --padding-bottom: 10px;
  --padding-start: 0px;
}

.empty-list {
  height: 95%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
}

ion-content {
  --padding-top: 0px;

  .historyTable {
    font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 13px;
    .small-column {
      width: 15vw;
      margin: auto;
    }
    .very-small-column {
      width: 40px;
      max-width: 40px;
      margin: auto;
    }
    .normalColumn {
      width: 40vw;
      max-width: 150px;
    }
    .detailled-series {
      background-color: #013885;
      width: 500px;
    }
    thead {
      tr {
        background-color: #{$base-color} !important;
        border-collapse: separate;
        box-shadow: 0 1px 0 0 #{$second-color};
        position: sticky;
        top: 0;
        padding: 0px;
        margin: 0px;
        z-index: 99;
        th {
          text-align: center;
        }
      }
    }
    tr {
      &:nth-child(even) {
        background-color: #1846ba;
      }
      &:nth-child(odd) {
        background-color: #013885;
      }
      td {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;

        &.actions {
          display: flex;
          justify-content: space-evenly;
        }
      }

      &.expanded {
        vertical-align: top;
      }

      .success {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: space-evenly;
      }
    }
  }
}
