<ng-container *ngIf="measures$ | async as measures">
  <app-header 
    [deleteButton]="measures.length > 0" (delete)="deleteAll()"
    [exportButton]="true" (export)="exportCsv()">
      {{'HISTORY.TITLE' | translate}}
  </app-header>

  <ion-content>
    <div class="empty-list" *ngIf="measures.length <= 0" [innerHTML]="'HISTORY.NO_MEASURE' | translate"></div>
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead class="thead-light">
          <tr>
            <th>Date</th>
            <th>Envoyé</th>
            <th>Mesure</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
      <tr *ngFor="let measure of measures">
        <td>{{ measure.startTime | date: "dd/MM/yyyy HH:mm'''ss\"" }}</td>
        <td>Envoyé</td>
        <td>Mesure</td>
        <td>Actions</td>
      </tr>
    </table>
  </ion-content>
</ng-container>
