<ng-container *ngIf="measures$ | async as measures">
    <app-header [deleteButton]="measures.length > 0" (delete)="deleteAll()">{{'HISTORY.TITLE' | translate}}</app-header>

    <ion-content>
        <div class="empty-list" *ngIf="measures.length <= 0" [innerHTML]="'HISTORY.NO_MEASURE' | translate">
        </div>
        <ion-list>
            <ion-item *ngFor="let measure of measures" class="clickable-device" button detail="false"
                      (click)="showDetail(measure)">
                <ion-label>
                    <div class="label-container">
                        <div class="title">
                            <div class="date">
                                {{measure.startTime | date : 'dd/MM/yyyy HH:mm:ss'}}
                            </div>
                            <div class="value">
                                {{measure.value | number: '1.3-3'}} {{'MEASURES.DOSE_RATE_UNIT' | translate}}
                            </div>
                        </div>
                        <div class="subtile"
                             *ngIf="!measure.accuracy || measure.accuracy >= positionAccuracyThreshold.Inaccurate || !measure.endAccuracy || measure.endAccuracy >= positionAccuracyThreshold.Inaccurate"
                             [innerHTML]="'HISTORY.MESSAGE_PREVENT_MEASURE_SENDING' | translate"></div>
                    </div>
                </ion-label>
                <ng-container *ngIf="measure.sent; else measureNotSent">
                    <div class="state">
                        {{'HISTORY.SENT' | translate}}
                    </div>
                </ng-container>
                <ng-template #measureNotSent>
                    <ng-container *ngIf="!measureBeingSentMap[measure.reportUuid]; else measureBeingSent">
                        <ion-button class="inner-button" fill="clear"
                                    size="default"
                                    [disabled]="!measure.accuracy || measure.accuracy >= positionAccuracyThreshold.Inaccurate || !measure.endAccuracy || measure.endAccuracy >= positionAccuracyThreshold.Inaccurate"
                                    (click)="publish($event, measure)">
                            <img src="assets/img/icon-publish.png">
                        </ion-button>
                        <ion-button class="inner-button" fill="clear"
                                    size="default"
                                    (click)="delete($event, measure)">
                            <img src="assets/img/icon-delete.png">
                        </ion-button>
                    </ng-container>
                    <ng-template #measureBeingSent>
                        <div class="spinner">
                            <ion-spinner></ion-spinner>
                        </div>
                    </ng-template>
                </ng-template>
            </ion-item>
        </ion-list>
    </ion-content>
</ng-container>
