ion-content {
  --padding-top: 10px;
  --padding-end: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
}

.empty-list {
  height: 95%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
}

ion-item {
  --inner-padding-end: 0;
  --padding-start: 8px;

  ion-label {
    display: flex;
    align-items: center;
    font-size: 14px;

    .date {
      width: 130px;
    }

    .value {
      margin-left: 20px;
    }
  }

  .state {
    padding-right: 18px;
  }

  .inner-button {
    z-index: 10;
    --padding-start: 10px;
    --padding-end: 10px;
  }
}
