<ng-container *ngIf="measures$ | async as measures">
  <app-header 
    [deleteButton]="measures.length > 0" (delete)="deleteAll()"
    [exportButton]="true" (export)="exportCsv()">
      {{'HISTORY.TITLE' | translate}}
  </app-header>

  <ion-content>
    <div class="empty-list" *ngIf="measures.length <= 0" [innerHTML]="'HISTORY.NO_MEASURE' | translate"></div>
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead class="thead-light">
          <tr>
            <th></th>
            <th>Date</th>
            <th>Mesure ({{ 'MEASURES.DOSE_RATE_UNIT' | translate }})</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
      <tr *ngFor="let measure of measures">
        <!-- Expansion button -->
        <td>
          <ion-button class="inner-button" *ngIf="canToggleSeries(measure)"
          (click)="toggleSeriesDetail($event, measure)" fill="clear">
            <ion-icon [name]="detailedSeries?.id === measure.id ? 'caret-down-outline' : 'caret-forward-outline'" mode="md"
              size="large">
            </ion-icon>
        </ion-button>
      </td>
        <td class="date">{{ measure.startTime | date: "dd/MM/yy HH:mm" }}</td>
        <!-- Measure value-->
        <td>
          <span 
          *ngIf="detailedSeries?.id !== measure.id; else valueColumnWhenSeriesIsExpanded">
          {{ getRoundedMeasure(measure)}}
        </span>
        <ng-template #valueColumnWhenSeriesIsExpanded>
          {{
          measure.measures.length
          | i18nPlural: measureSeriesMessageMapping
          | translate: { count: measure.measures.length }
          }}
        </ng-template>
        </td>
        <!-- Actions (publication and deletion) -->
        <td>
          <span *ngIf="measure.sent; else measureNotSent">
            {{ 'HISTORY.SENT' | translate }}
          </span>
          <ng-template #measureNotSent>
            <ion-button 
            *ngIf="canPublish(measure)"
            class="inner-button" fill="clear" size="default" [disabled]="!canPublish" (click)="publish(measure)">
              <img src="assets/img/icon-publish.png" alt="publish"/>
            </ion-button>
            <ion-button class="inner-button" fill="clear" size="default" (click)="delete(measure)">
              <img src="assets/img/icon-delete.png" alt="delete" />
            </ion-button>
          </ng-template>
        </td>
      </tr>
    </table>
  </ion-content>
</ng-container>
