@import 'src/theme/variables.scss';

.keyboard-open :host {
  .container {
    .logo {
      height: 0;
      opacity: 0;
      padding-bottom: 4px;
    }
  }
}

.container {
  background: $base-color;
  padding-top: 20px;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    padding-bottom: 10px;
    opacity: 1;
    transition: height ease-in 100ms, opacity ease-in 100ms, padding-bottom ease-in 100ms;
    img {
      height: 100%;
    }
  }
  .title {
    color: white;
    background-color: $third-color;
    position: relative;
    .back-button {
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .label {
      width: 100%;
      text-align: center;
      font-size: 30px;
      font-family: 'ARIALROUNDED', Arial, Helvetica, sans-serif;
    }
  }
}
