@import '~@ionic/angular/dist/components/app/app.ios.vars';
@import '~@ionic/angular/dist/components/app/app.md.vars';
@import 'src/theme/variables.scss';

.keyboard-open :host {
  .container {
    .logo {
      margin-top: -60px;
    }
  }
}

.container {
  background: $base-color;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    padding-bottom: 10px;
    transition: margin-top ease-in 200ms;
    img {
      height: 100%;
    }
  }
  .title {
    color: white;
    background-color: #00a0dd;
    position: relative;
    .back-button {
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .label {
      width: 100%;
      text-align: center;
      font-size: 30px;
      font-family: 'ARIALROUNDED', Arial, Helvetica, sans-serif;
    }
  }
}

// TODO disable when we can use this.statusBar.overlaysWebView(true) https://github.com/ionic-team/ionic/issues/13821
$app-md-statusbar-padding: 0;
$app-ios-statusbar-padding: 0;

.app-md :host {
  .container {
    padding-top: $app-md-statusbar-padding + 4px;
  }
}
.app-ios :host {
  .container {
    padding-top: $app-ios-statusbar-padding + 4px;
  }
}
