<div class="container">
  <div class="logo">
    <img src="assets/img/logo.png" />
  </div>
  <div class="other-content">
    <ng-content select="[other]"></ng-content>
  </div>
  <div class="title">
    <div class="side-button left" *ngIf="backButton">
      <ion-button fill="clear" (click)="back.emit()">
        <ion-icon mode="ios" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </div>
    <div class="label">
      <ng-content></ng-content>
    </div>
    <div class="side-button right" *ngIf="shareButton">
      <ion-button fill="clear" (click)="share.emit()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </div>
    <div class="side-button right" *ngIf="deleteButton">
      <ion-button fill="clear" (click)="delete.emit()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </div>
  </div>
</div>
