@import 'src/theme/variables';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $third-color;
  padding: 7px 0 15px 0;

  .bottom-buttons {
    margin-top: 20px;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    app-round-button {
      width: 50%;
    }
    .side-buttons {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      pointer-events: none;
      ion-button {
        pointer-events: all;
        position: absolute;
        --border-radius: 10px;
        &.cancel {
          right: 70%;
        }
        &.expert {
          left: 70%;
        }
      }
    }
  }

  .message {
    display: flex;
    white-space: normal;
    text-align: center;
    padding: 5px;
    .message-style {
      color: $second-color;
      font-size: 12px;
      font-style: italic;
    }
  }

  .form {
    padding: 10px 0;
  }

  .position {
    display: flex;
    align-items: center;
    app-gps-indicator {
      margin-right: 16px;
      flex: none;
    }
  }

  .values {
    font-size: 14px;
    padding: 0;
  }

  app-select-icon {
    color: $second-color;
  }

  .environment {
    padding: 0 10px;
  }

  .options {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  .separator {
    margin: 10px 30px;
    border: 1px solid $forth-color;
    border-radius: 2px;
  }
}
