<ng-container>
    <ng-container>
        <app-header>
        </app-header>

        <ion-content>
            <div class="content">
                <div class="message">
                    <div class="message-style">{{'HISTORY.MESSAGE_PREVENT_MEASURE_SENDING' | translate}}</div>
                </div>
                <div class="message">
                    <div class="message-style">{{'HISTORY.MESSAGE_SPEED' | translate}}</div>
                </div>
                <form class="form" [formGroup]="measureReportSeriesForm" ngxsForm="measures.measureReportSeries">
                    <ion-list>
                        <ion-item class="custom-disabled">
                            <ion-label class="value">Nombre mesures automatique</ion-label>
                            <ion-input type="number" formControlName="seriesNumbersMeasures" placeholder="0"></ion-input>
                        </ion-item>
                        <ion-item class="custom-disabled">
                            <ion-label class="value">Durée mesure automatique</ion-label>
                            <ion-datetime class="values" display-format="mm'ss''" formControlName="measureDurationLimit"
                                          required
                                          [cancelText]="'GENERAL.CANCEL' | translate"
                                          [doneText]="'GENERAL.SUBMIT' | translate"></ion-datetime>
                        </ion-item>
                    </ion-list>
                    <div class="separator"></div>
                    <ion-list>
                        <ion-item class="custom-disabled">
                            <ion-label class="value">{{'GENERAL.DATE' | translate}}</ion-label>
                            <ion-datetime class="values" display-format="DD/MM/YYYY" formControlName="date" required
                                          [cancelText]="'GENERAL.CANCEL' | translate"
                                          [doneText]="'GENERAL.SUBMIT' | translate"></ion-datetime>
                        </ion-item>
                        <ion-item class="custom-disabled">
                            <ion-label class="value">Début premiere mesure</ion-label>
                            <ion-datetime class="values" display-format="HH:mm'ss''" formControlName="startTime"
                                          required
                                          [cancelText]="'GENERAL.CANCEL' | translate"
                                          [doneText]="'GENERAL.SUBMIT' | translate"></ion-datetime>
                        </ion-item>
                        <ion-item class="custom-disabled">
                            <ion-label class="value">Durée totale</ion-label>
                            <ion-datetime class="values" display-format="DD/MM/YYYY" formControlName="duration" required
                                          [cancelText]="'GENERAL.CANCEL' | translate"
                                          [doneText]="'GENERAL.SUBMIT' | translate"></ion-datetime>
                        </ion-item>
                    </ion-list>
                    <div class="measure">
                        <ion-list>
                            <ion-item [ngClass]="'custom-disabled'">
                                <ion-label position="fixed">Moyenne nb coups</ion-label>
                                <ion-input formControlName="hitsNumberAverage" type="number" placeholder="0"></ion-input>
                            </ion-item>
                            <ion-item class="has-suffix"
                                      [ngClass]="'custom-disabled'">
                                <ion-label position="fixed">moyenne mesure<span
                                        *ngIf="!reportScan"> *</span></ion-label>
                                <ion-input formControlName="valueAverage" required type="number"
                                           placeholder="0.000"></ion-input>
                                <span class="unit">{{'MEASURES.DOSE_RATE_UNIT' | translate}}</span>
                            </ion-item>
                        </ion-list>
                    </div>
                    <div class="environment">
                        <app-select-icon [options]="measurementEnvironmentOptions"
                                         formControlName="measurementEnvironment"
                                         required
                                         [title]="'MEASURES.ENVIRONMENT.TITLE' | translate">
                        </app-select-icon>
                    </div>
                    <div class="options">
                        <app-select-icon [options]="measurementHeightOptions" formControlName="measurementHeight"
                                         required
                                         [title]="'MEASURES.SENSOR_POSITION.TITLE' | translate">
                        </app-select-icon>
                        <app-select-icon [options]="rainOptions" formControlName="rain"
                                         required
                                         [title]="'MEASURES.WEATHER.TITLE' | translate">
                        </app-select-icon>
                    </div>
                    <ng-container *ngIf="login$ | async">
                        <div class="separator"></div>
                        <ion-list>
                            <ion-item class="description">
                                <ion-textarea formControlName="description" rows="5"
                                              [placeholder]="'MEASURES.DESCRIPTION' | translate">
                                </ion-textarea>
                            </ion-item>
                        </ion-list>
                        <div class="tags">
                            <app-tag-list formControlName="tags" [hiddenTag]="currentSeries?.id"
                                          [title]="'MEASURES.TAG_LIST' | translate">
                            </app-tag-list>
                        </div>
                    </ng-container>
                </form>
                <div class="bottom-buttons">
                    <app-round-button
                            (click)="stopReport()" [src]="'assets/img/button-off.png'">
                        {{'GENERAL.OK' | translate}}
                    </app-round-button>
                    <div class="side-buttons">
                        <ion-button fill="clear" class="flat-button cancel" (click)="cancelSeries()">
                            <ng-container *ngIf="!currentSeries.sent; else backButton">
                                {{'GENERAL.CANCEL' | translate}}
                            </ng-container>
                            <ng-template #backButton>
                                {{'GENERAL.BACK' | translate}}
                            </ng-template>
                        </ion-button>
                    </div>
                </div>
            </div>
        </ion-content>
    </ng-container>
</ng-container>