@import 'src/theme/variables';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $third-color;
  padding: 0 0 15px 0;

  .bottom-buttons {
    margin-top: 20px;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    app-round-button {
      width: 50%;
    }
    .side-buttons {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      pointer-events: none;
      ion-button {
        pointer-events: all;
        position: absolute;
        --border-radius: 10px;
        &.cancel {
          right: 70%;
        }
        &.expert {
          left: 70%;
        }
      }
    }
  }

  .message {
    display: flex;
    white-space: normal;
    text-align: center;
    padding-top: 10px;
    .message-style {
      color: $second-color;
      font-size: 12px;
      font-style: italic;
    }
  }

  .form {
    padding: 10px 0;
  }

  .position {
    display: flex;
    align-items: center;
    app-gps-indicator {
      margin-right: 16px;
      flex: none;
    }
  }

  .values {
    font-size: 14px;
    padding: 0;
  }

  ion-list {
    padding: 0 10px;
    margin: 0;
    width: 100%;

    ion-item {
      --border-color: transparent;
      margin: -5px 0;
      --min-height: 0;
      &.custom-disabled {
        pointer-events: none;
      }
      &:not(.custom-disabled) {
        ion-input,
        ion-datetime,
        ion-textarea {
          background: $forth-color;
          border-radius: 10px;
          color: $second-color;
        }
        ion-input,
        ion-datetime {
          height: 26px;
          line-height: 26px;
          padding: 0 8px;
        }
        ion-input {
          --padding-top: 4px;
          --padding-bottom: 4px;
        }
        ion-datetime {
          padding: 4px 8px;
          width: 100%;
          text-align: right;
          --ion-placeholder-text-color: #{transparentize($second-color, 0.5)};
        }
        ion-textarea {
          --padding-start: 8px;
        }
        &.has-suffix {
          ion-input {
            border-radius: 10px 0 0 10px;
          }
        }
        .unit {
          background: $forth-color;
          border-radius: 0 10px 10px 0;
          color: $second-color;
          margin-left: -1px;
          height: 26px;
          line-height: 26px;
        }
        &.description {
          margin: 0;
          margin-top: 10px;
        }
      }
      ion-label {
        color: $second-color;
        font-size: 14px;
      }

      .unit {
        padding-right: 8px;
      }

      ion-input {
        text-align: right;
      }
    }
  }

  .measure {
    background: $second-color;
    padding: 10px 0;
    margin: 15px 0 10px 0;
    ion-list {
      ion-item {
        ion-label {
          color: $third-color;
          min-width: 180px;
        }

        ion-datetime {
          width: 100%;
          text-align: right;
        }
      }
    }
  }

  app-select-icon {
    color: $second-color;
  }

  .environment {
    padding: 0 10px;
  }

  .options {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  .separator {
    margin: 10px 30px;
    border: 1px solid $forth-color;
    border-radius: 2px;
  }

  .tags {
    padding: 10px;
  }
}
