<ion-content>
  <ion-list>
    <ion-item detail (click)="startMeasureSeries()" [ngClass]="{ active: currentUrl === '/measure/series' }">
      <ion-label>
        {{ 'MEASURE_SERIES.TITLE' | translate }}
      </ion-label>
    </ion-item>
    <ion-item detail (click)="startManualMeasure()" [ngClass]="{ active: currentUrl === '/measure/manual' }">
      <ion-label>
        {{ 'MEASURE_MANUAL.TITLE' | translate }}
      </ion-label>
    </ion-item>
    <ion-item detail (click)="goToFeedback()" [ngClass]="{ active: currentUrl === '/feedback' }">
      <ion-label>
        {{ 'FEEDBACK.TITLE' | translate }}
      </ion-label>
    </ion-item>
    <ion-item detail (click)="goToAbout()" [ngClass]="{ active: currentUrl === '/tabs/other/about' }">
      <ion-label>
        {{ 'ABOUT.TITLE' | translate }}
      </ion-label>
    </ion-item>
    <ion-item detail (click)="goToLegalNotice()" [ngClass]="{ active: currentUrl === '/tabs/other/legal-notice' }">
      <ion-label>
        {{ 'LEGAL_NOTICE.TITLE' | translate }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
