<ion-content>
    <ion-list>
        <ion-item detail [ngClass]="{'active' : currentUrl === '/measure/series'}">
            <ion-label>
                {{'MEASUREMENT_SERIES.TITLE' | translate}}
            </ion-label>
        </ion-item>
        <ion-item detail (click)="startManualMeasure()" [ngClass]="{'active' : currentUrl === '/measure/manual'}">
            <ion-label>
                {{'MEASURE_MANUAL.TITLE' | translate}}
            </ion-label>
        </ion-item>
        <ion-item detail (click)="closeMenu()" href="tabs/(other:about)"
                  [ngClass]="{'active' : currentUrl === '/tabs/(other:about)'}">
            <ion-label>
                {{'ABOUT.TITLE' | translate}}
            </ion-label>
        </ion-item>
        <ion-item detail (click)="closeMenu()" href="tabs/(other:legal-notice)"
                  [ngClass]="{'active' : currentUrl === '/tabs/(other:legal-notice)'}">
            <ion-label>
                {{'LEGAL_NOTICE.TITLE' | translate}}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>