<app-header>Paramètres</app-header>

<ion-content>
    <ion-list>
        <app-category-label>
            Capteurs
        </app-category-label>
        <ion-item button detail (click)="goToDevices()">
            <ion-label>
                Liste des capteurs
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list class="user-account">
        <app-category-label>
            Compte utilisateur
        </app-category-label>
        <ng-container *ngIf="login$ | async as login; else notLoggedIn">
            <ion-item>
                <ion-label>
                    Identifié comme<br>{{login}}
                </ion-label>
                <ion-button fill="clear" class="flat-button-alt" (click)="logOut()">
                    Se déconnecter
                </ion-button>
            </ion-item>
        </ng-container>
        <ng-template #notLoggedIn>
            <ion-item>
                <ion-label>
                    Non identifié
                </ion-label>
                <ion-button fill="clear" class="flat-button-alt" (click)="goToLogIn()">
                    S'identifier
                </ion-button>
            </ion-item>
        </ng-template>
    </ion-list>
    <ion-list>
        <app-category-label>
            Mesures
        </app-category-label>
        <ion-item button detail (click)="goToMeasuresParam()">
            <ion-label>
                Publication automatique des mesures
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                Mode expert
            </ion-label>
            <ion-toggle [ngModel]="expertMode$ | async"
                        (ngModelChange)="toggleExpertMode($event)"></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>
