:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;

  &.ion-page-invisible {
    opacity: 0;
  }

  ion-content {
    flex: auto;
  }
}

.keyboard-open :host {
  ion-content {
    --keyboard-offset: 230px;
  }
}
