<ng-container *ngIf="measure as measure">
    <ion-item>
        <ion-label>
            <div class="label-container">
                <div class="title">
                    <ng-container *ngIf="measure.type === measureType.MeasureSeries">
                        <ion-button (click)="DeploySeries($event, measure)" fill="clear" class="drop-down-button">
                            <ion-icon [name]="deploy ? 'arrow-dropdown' : 'arrow-dropright'" mode="md"
                                      size="large"></ion-icon>
                        </ion-button>
                    </ng-container>
                    <div class="date">
                        {{measure.startTime | date : 'dd/MM/yyyy HH:mm\'\'\'ss"'}}
                    </div>
                    <div class="value">
                        <ng-container *ngIf="measure.type === measureType.Measure; else measureSeries">
                            {{measure.value | dose}} {{'MEASURES.DOSE_RATE_UNIT' | translate}}
                        </ng-container>
                        <ng-template #measureSeries>
                            {{measure.measures.length | i18nPlural : measureSeriesMessageMapping | translate :
                            {count: measure.measures.length} }}
                        </ng-template>
                    </div>
                </div>
                <div class="subtile"
                     *ngIf="!canPublish"
                     [innerHTML]="'HISTORY.MESSAGE_PREVENT_MEASURE_SENDING' | translate"></div>
            </div>
        </ion-label>
        <ng-container *ngIf="measure.sent; else measureNotSent">
            <div class="state">
                {{'HISTORY.SENT' | translate}}
            </div>
        </ng-container>
        <ng-template #measureNotSent>
            <ng-container *ngIf="measureBeingSent; else measureNotBeingSent">
                <div class="spinner">
                    <ion-spinner></ion-spinner>
                </div>
            </ng-container>
            <ng-template #measureNotBeingSent>
                <ion-button class="inner-button" fill="clear"
                            size="default"
                            [disabled]="!canPublish"
                            (click)="publish($event)">
                    <img src="assets/img/icon-publish.png">
                </ion-button>
                <ion-button class="inner-button" fill="clear"
                            size="default"
                            (click)="delete($event)">
                    <img src="assets/img/icon-delete.png">
                </ion-button>
            </ng-template>
        </ng-template>
    </ion-item>
    <ion-list *ngIf="deploy" class="test">
        <ion-item *ngFor="let measureSeriesDetail of displaySeries">
            <ion-label class="test">
                <div class="label-container">
                    <div class="title">
                        <div class="date">
                            {{measureSeriesDetail.startTime | date : 'dd/MM/yyyy HH:mm\'\'\'ss"'}}
                        </div>
                        <div class="value">
                            <ng-container>
                                {{measureSeriesDetail.value | dose}} {{'MEASURES.DOSE_RATE_UNIT' | translate}}
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ion-label>
        </ion-item>
    </ion-list>
</ng-container>