ion-item {
  --inner-padding-end: 0;
  --padding-start: 8px;

  .test {
    pointer-events: none;
  }

  ion-label {
    .label-container {
      display: flex;
      justify-content: center;
      color: white;
      text-align: center;
      flex-direction: column;

      .title {
        display: flex;
        align-items: center;
        font-size: 14px;
      }

      .subtile {
        font-size: 10px;
        white-space: normal;
        text-align: left;
        padding-left: 4px;
        font-style: italic;
      }
    }

    .date {
      width: 130px;
    }

    .value {
      margin-left: auto;
    }
  }

  .state,
  .spinner {
    padding-right: 18px;
  }

  .inner-button {
    z-index: 10;
    --padding-start: 10px;
    --padding-end: 10px;
  }

  .drop-down-button {
    z-index: 10;
    --padding-start: 0px;
    --padding-end: 0px;
  }
}
