@import 'src/theme/variables';
@import 'src/app/components/page/page';

ion-content {
  --padding-top: 20px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .logo {
      width: 66%;
      img {
        width: 100%;
      }
    }
    .subtitle {
      color: $third-color;
      font-size: 20px;
      font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
      font-weight: 200;
      margin: 10px;
    }
    .gps-indicator {
      color: white;
      background-color: #14c921;
      border-radius: 5px;
      padding: 2px 10px;
      font-size: 14px;
      margin: 10px;
      font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
      font-weight: 200;
      &.bad {
        background-color: #ff7f00;
      }
      &.error {
        background-color: #e70000;
      }
    }
    .device-button {
      background-color: $second-color;
      width: 70%;
      font-size: 18px;
      font-weight: 200;
      border-radius: 5px;
      --height: auto;
      --width: 100%;
      --padding-top: 4px;
      --padding-end: 4px;
      --padding-bottom: 4px;
      --padding-start: 4px;
    }
    .connected-device-header {
      background-color: $base-color;
      width: 70%;
      border-radius: 5px 5px 0 0;
      color: white;
      font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 200;
      padding: 4px;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
    .connected-device-button {
      @extend .device-button;
      border-radius: 0 0 5px 5px;
    }
    .measure-button {
      margin: auto 0;
      --height: auto;
      --width: 100%;
      --padding-top: 0;
      --padding-end: 0;
      --padding-bottom: 0;
      --padding-start: 0;
      --margin-top: 0;
      --margin-end: 0;
      --margin-bottom: 0;
      --margin-start: 0;
      --border-radius: 50%;
      -webkit-tap-highlight-color: transparent;
    }
  }
}
