@import '../../../../theme/variables.scss';

ion-content {
  --padding-top: 20px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .logo {
      width: 66%;
      margin-top: 20px;

      img {
        width: 100%;
      }
    }

    .button-component {
      width: 70%;
    }

    .subtitle {
      color: $third-color;
      font-size: 18px;
      font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
      font-weight: 200;
      margin: 10px;
    }

    app-gps-indicator {
      margin: 10px;
    }

    app-round-button {
      margin: auto 0;
      width: 70%;
    }
  }
}

.sensor-container {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .sensor-status {
    color: white;
    background-color: #d34f00;
    border-radius: 5px;
    font-size: 18px;
    padding: 2px 8px;
    font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
    text-align: center;
    ion-icon {
      padding-top: 5px;
      font-size: 26px;
    }
  }
  &.sensorConnected {
    .sensor-status {
      background-color: #14c921;
    }
  }
}

.sensor-text {
  color: white;
  font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-left: 10px;
}

.sensor-button {
  padding-top: 7px;
  padding-bottom: 7px;
}

.sensor-actions {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  ion-button {
    min-width: min(30vw, 250px);
  }
}

.launch-mesure {
  color: white;
  font-size: 18px;
}
