@import 'src/theme/variables';

ion-content {
  --padding-top: 20px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .logo {
      width: 66%;
      img {
        width: 100%;
      }
    }
    .subtitle {
      color: $third-color;
      font-size: 20px;
      font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
      font-weight: 200;
      margin: 10px;
    }
    app-gps-indicator {
      margin: 10px;
    }
    .device-button {
      background-color: $second-color;
      width: 70%;
      font-size: 18px;
      font-weight: 200;
      border-radius: 5px;
      height: auto;
      margin: 0;
      min-height: 30px;
      --padding-top: 4px;
      --padding-end: 4px;
      --padding-bottom: 4px;
      --padding-start: 4px;
    }
    .connected-device-header {
      background-color: $base-color;
      width: 70%;
      border-radius: 5px 5px 0 0;
      color: white;
      font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 200;
      padding: 4px;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
    .connected-device-button {
      @extend .device-button;
      border-radius: 0 0 5px 5px;
    }
    app-round-button {
      margin: auto 0;
    }
  }
}
