@import 'src/theme/variables';

ion-content {
  --padding-top: 20px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .logo {
      width: 66%;
      margin-top: 20px;
      img {
        width: 100%;
      }
    }
    .button-component {
      width: 70%;
    }
    .subtitle {
      color: $third-color;
      font-size: 20px;
      font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
      font-weight: 200;
      margin: 10px;
    }
    app-gps-indicator {
      margin: 10px;
    }
    app-round-button {
      margin: auto 0;
      width: 70%;
    }
  }
}
