<ion-content>
  <div class="content">
    <div class="logo">
      <img src="assets/img/logo.png" />
    </div>
    <div class="subtitle">
      {{'HOME.TITLE' | translate}}
    </div>
    <app-gps-indicator [accuracy]="positionAccuracy$ | async"></app-gps-indicator>
    <ng-container *ngIf="connectedDevice$ | async as connectedDevice; else noConnectedDevice">
      <div class="button-component">
        <app-double-button
          [headerMessage]="'HOME.CONNECTED_SENSOR' | translate"
          [mainMessage]="connectedDevice.apparatusVersion"
          [modeSimple]="false"
          (click)="goToDevices()"
        ></app-double-button>
      </div>
    </ng-container>
    <ng-template #noConnectedDevice>
      <div class="button-component">
        <app-double-button
          [headerMessage]="'HOME.NO_SENSORS' | translate"
          [mainMessage]=" 'GENERAL.CLICK_HERE' | translate"
          [modeSimple]="true"
          (click)="goToDevices()"
        ></app-double-button>
      </div>
    </ng-template>
    <ng-container *ngIf="planeMode$ | async; else groundLevel">
      <div class="button-component">
        <app-double-button
          [headerMessage]="'HOME.MEASURE_MODE' | translate"
          [mainMessage]="'GENERAL.ON_PLANE' | translate"
          [modeSimple]="false"
          (click)="goToPlaneMode()"
        ></app-double-button>
      </div>
    </ng-container>
    <ng-template #groundLevel>
      <div class="button-component">
        <app-double-button
          [headerMessage]="'HOME.MEASURE_MODE' | translate"
          [mainMessage]="'GENERAL.ON_GROUND' | translate"
          [modeSimple]="false"
          (click)="goToPlaneMode()"
        ></app-double-button>
      </div>
    </ng-template>
    <app-round-button
      [disabled]="!(canStartMeasure | async)"
      [srcOn]="'assets/img/button-start-measure-on.png'"
      [srcOff]="'assets/img/button-start-measure-off.png'"
      (click)="startMeasure()"
    >
    </app-round-button>
  </div>
</ion-content>
