<ion-content>
    <div class="content">
        <div class="logo">
            <img src="assets/img/logo.png">
        </div>
        <div class="subtitle">
            mesurer la radioactivité
        </div>
        <app-gps-indicator [accuracy]="positionAccuracy$ | async"></app-gps-indicator>
        <ng-container *ngIf="connectedDevice$ | async as connectedDevice; else noConnectedDevice">
            <div class="connected-device-header">Capteur connecté</div>
            <ion-button class="connected-device-button" fill="clear" (click)="goToDevices()">
                {{connectedDevice.apparatusVersion}} / {{connectedDevice.apparatusId}}
            </ion-button>
        </ng-container>
        <ng-template #noConnectedDevice>
            <ion-button class="device-button" fill="clear" (click)="goToDevices()">
                Pas de capteur<br>CLIQUEZ ICI
            </ion-button>
        </ng-template>
        <app-round-button
                [disabled]="false"
                [src]="(canStartMeasure | async) ? 'assets/img/button-start-measure-on.png' : 'assets/img/button-start-measure-off.png'"
                (click)="startMeasure()">
        </app-round-button>
    </div>
</ion-content>
