<app-header [backButton]="true" (back)="goBack()">{{'MEASURES.PLANE_MODE' | translate}}</app-header>

<ion-content>
  <div class="notice" [innerHTML]="'MEASURES.PLANE_MODE_NOTICE.PART1' | translate | sanitizeHtml"></div>
  <!-- TODO Voir avec le client pour le texte définitf-->
  <div class="notice" [innerHTML]="'MEASURES.PLANE_MODE_NOTICE.PART2' | translate | sanitizeHtml"></div>
  <div class="notice" [innerHTML]="'MEASURES.PLANE_MODE_NOTICE.PART3' | translate | sanitizeHtml"></div>
  <ion-list>
    <ion-item class="no-padding">
      <ion-label> {{'MEASURES.PLANE_MODE' | translate}}</ion-label>
      <ion-toggle [ngModel]="planeMode$ | async" (ngModelChange)="togglePlaneMode($event)"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
