ion-content {
  --padding-top: 10px;
  --padding-end: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
}

.notice {
  color: white;
  text-align: justify;
  font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 10px;
}
