:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px 10px 10px 10px;

  .title {
    font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: inherit;
    margin-bottom: 18px;
  }
  .list {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 60px;
      .label {
        color: inherit;
        font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
        font-size: 12px;
        white-space: normal;
        text-align: center;
        opacity: 0.6;
        &.selected {
          opacity: 1;
        }
      }
    }
    .item-disabled {
      pointer-events: none;
      opacity: 0.4;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.7;
    }
  }
}
