@import '../../../theme/variables.scss';

ion-tabs {
  --ion-tab-bar-color: #{transparentize($second-color, 0.6)};
  --ion-tab-bar-color-activated: #{$second-color};
  --ion-color-primary: #{$second-color};
}