<ion-tabs>
    <ion-tab href="/tabs/(home:home)" icon="md-icon-home">
        <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab>
    <ion-tab href="/tabs/(history:history)" icon="md-icon-history">
        <ion-router-outlet name="history"></ion-router-outlet>
    </ion-tab>
    <ion-tab href="/tabs/(settings:settings)" icon="md-icon-settings">
        <ion-router-outlet name="settings"></ion-router-outlet>
    </ion-tab>
    <ion-tab href="/tabs/(map:map)" icon="md-icon-map">
        <ion-router-outlet name="map"></ion-router-outlet>
    </ion-tab>
    <ion-tab href="#" icon="md-icon-more">
        <ion-router-outlet name="other"></ion-router-outlet>
    </ion-tab>
</ion-tabs>
