@import 'src/theme/variables.scss';

ion-tabs {
  --ion-tabbar-text-color: #{transparentize($second-color, 0.6)};
  --ion-tabbar-text-color-active: #{$second-color};
  --ion-color-primary: #{$second-color};
}
