@import 'src/theme/variables.scss';

ion-tabs {
  --ion-tab-bar-color: #{transparentize($second-color, 0.6)};
  --ion-tab-bar-color-activated: #{$second-color};
  --ion-color-primary: #{$second-color};
}

.ios .keyboard-open {
  :host {
    margin-bottom: -50px;
  }
}
