<ion-tabs>
  <ion-tab icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="list" href="/tabs/(history:history)">
    <ion-router-outlet name="history"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="settings" href="/tabs/(settings:settings)">
    <ion-router-outlet name="settings"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="map" href="/tabs/(map:map)">
    <ion-router-outlet name="map"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
