<ion-tabs>
    <ion-tab href="/tabs/(home:home)">
        <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab>
    <ion-tab href="/tabs/(history:history)">
        <ion-router-outlet name="history"></ion-router-outlet>
    </ion-tab>
    <ion-tab href="/tabs/(settings:settings)">
        <ion-router-outlet name="settings"></ion-router-outlet>
    </ion-tab>
    <ion-tab href="/tabs/(map:map)">
        <ion-router-outlet name="map"></ion-router-outlet>
    </ion-tab>
    <ion-tab href="">
    </ion-tab>
</ion-tabs>
