<ion-content padding>
    <ng-container *ngIf="isScanning$ | async; else isNotScanning">
        <ion-button (click)="stopDiscoverDevices()">Stop discover devices</ion-button>
    </ng-container>
    <ng-template #isNotScanning>
        <ion-button (click)="startDiscoverDevices()">Start discover devices</ion-button>
    </ng-template>
    <ion-list>
        <ion-list-header>
            <ion-label>Available devices</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let deviceStatus of deviceStatus$ | async; trackBy: deviceStatusTrackBy">
            <ion-label>
                {{deviceStatus.device.apparatusVersion}}<br>{{deviceStatus.device.apparatusId}}
            </ion-label>
            <ion-button (click)="toggleDeviceStatus(deviceStatus)">
                <ng-container *ngIf="deviceStatus.isConnected; else notConnectedDevice">
                        Se déconnecter
                </ng-container>
                <ng-template #notConnectedDevice>
                        Se connecter
                </ng-template>
            </ion-button>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>
            <ion-label>Known devices</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let device of knownDevices$ | async">
            <ion-label>
                {{device.apparatusVersion}}<br>{{device.apparatusId}}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
