<?xml version='1.0' encoding='utf-8'?>
<widget id="org.openradiation" version="0.9.55" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>OpenRadiation</name>
    <description>
        Mesurez la radioactivité. Participez à la base citoyenne OpenRadiation.
    </description>
    <author email="philippe.laroche@agoralogie.fr" href="http://www.agoralogie.fr">
        Agoralogie
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#045cb8" />
	<preference name="StatusBarStyle" value="lightcontent" />
	
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="KeyboardShrinksView" value="false" />
	
   <!--  <gap:plugin name="com.megster.cordova.rfduino" version="0.0.2" />
    <gap:plugin name="com.millerjames01.sqlite-plugin" version="1.0.1" />
    <gap:plugin name="de.appplant.cordova.plugin.email-composer" version="0.8.2" />
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
     <gap:plugin name="com.verso.cordova.clipboard" spec="0.1.0" source="pgb" />
    <gap:plugin name="org.apache.cordova.camera" />-->
   <!--	<gap:plugin name="io.litehelpers.cordova.sqlite" />
   
   gap:plugin name="cordova-sqlite-storage" source="npm" />
   -->
   <gap:plugin name="cordova-plugin-sqlite-2" source="npm" />

 
 	
    <gap:plugin name="org.apache.cordova.dialogs" source="npm" />
    <gap:plugin name="org.apache.cordova.device" source="npm" />
    <gap:plugin name="org.apache.cordova.statusbar" source="npm" />
    <!--<gap:plugin name="cordova-plugin-ble-central" source="npm" />-->
    <gap:plugin name="cordova-plugin-rfduino" source="npm" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
   <!-- <gap:plugin name="org.apache.cordova.geolocation" />-->
    <gap:plugin name="cordova-plugin-geolocation" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
   
<gap:config-file platform="ios" parent="NSBluetoothPeripheralUsageDescription" overwrite="true">
   <string>L'application a besoin de Bluetooth pour la connexion au capteur</string>
</gap:config-file>
   
    
    <icon src="res/icon/icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />
    <icon gap:density="xxhdpi" gap:platform="android" src="res/icon/android/icon-144-xxhdpi.png" />
    <icon gap:density="xxxhdpi" gap:platform="android" src="res/icon/android/icon-192-xxxhdpi.png" />
    
    <icon gap:platform="blackberry" src="res/icon/blackberry/icon-80.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="res/icon/blackberry/icon-80.png" />
    
   	<!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
   	<icon gap:platform="ios" src="res/ios/icon-60-3x.png" width="180" height="180" />
	<!-- iOS 7.0+ -->
	<!-- iPhone / iPod Touch  -->
	<icon gap:platform="ios" src="res/ios/icon-60.png" width="60" height="60" />
	<icon gap:platform="ios" src="res/ios/icon-60-2x.png" width="120" height="120" />
	<!-- iPad -->
	<icon gap:platform="ios" src="res/ios/icon-76.png" width="76" height="76" />
	<icon gap:platform="ios" src="res/ios/icon-76-2x.png" width="152" height="152" />
	<!-- iOS 6.1 -->
	<!-- Spotlight Icon -->
	<icon gap:platform="ios" src="res/ios/icon-40.png" width="40" height="40" />
	<icon gap:platform="ios" src="res/ios/icon-40-2x.png" width="80" height="80" />
	<!-- iPhone / iPod Touch -->
	<icon gap:platform="ios" src="res/ios/icon.png" width="57" height="57" />
	<icon gap:platform="ios" src="res/ios/icon-2x.png" width="114" height="114" />
	<!-- iPad -->
	<icon gap:platform="ios" src="res/ios/icon-72.png" width="72" height="72" />
	<icon gap:platform="ios" src="res/ios/icon-72-2x.png" width="144" height="144" />
	<!-- iPhone Spotlight and Settings Icon -->
	<icon gap:platform="ios" src="res/ios/icon-small.png" width="29" height="29" />
	<icon gap:platform="ios" src="res/ios/icon-small-2x.png" width="58" height="58" />
	<!-- iPad Spotlight and Settings Icon -->
	<icon gap:platform="ios" src="res/ios/icon-50.png" width="50" height="50" />
	<icon gap:platform="ios" src="res/ios/icon-50-2x.png" width="100" height="100" />
    
    <icon gap:platform="webos" src="res/icon/webos/icon-64.png" />
    
    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="res/icon/windows-phone/icon-173.png" />
    
    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png" />
    
    <gap:splash gap:platform="blackberry" src="res/screen/blackberry/screen-225.png" />
    
     <!-- images are determined by width and height. The following are supported -->
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-iphone.png" width="320" height="480"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-2x-iphone.png" width="640" height="960"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-Portrait-ipad.png" width="768" height="1024"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-Portrait-2x-ipad.png" width="1536" height="2048"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-Landscape-ipad.png" width="1024" height="768"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-Landscape-2x-ipad.png" width="2048" height="1536"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-568h-2x-iphone.png" width="640" height="1136"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
    
    <gap:splash gap:platform="winphone" src="res/screen/windows-phone/screen-portrait.jpg" />
    <access origin="*" />
    <engine name="ios" spec="^3.8.0" />
</widget>
