<div class="title" *ngIf="title && (!isDisabled || displayTagList.length > 0)">
    {{title}}
</div>
<div class="tag-list" [ngClass]="{disabled: isDisabled}">
    <ion-chip *ngFor="let tag of displayTagList; index as index">
        <ion-label>{{tag}}</ion-label>
        <ion-button *ngIf="!isDisabled" fill="clear" color="light" (click)="deleteTag(index)">
            <ion-icon name="close-circle"></ion-icon>
        </ion-button>
    </ion-chip>
</div>
<ion-item class="add-tag" *ngIf="!isDisabled">
    <ion-input [(ngModel)]="currentTag" [placeholder]="'GENERAL.ADD_TAG' | translate"></ion-input>
    <ion-button fill="clear" [disabled]="currentTag === ''" (click)="addTag()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
</ion-item>