@import '../../../theme/variables.scss';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  width: 100%;

  .title {
    font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: $second-color;
    margin-bottom: 10px;
  }

  .tag-list {
    width: 100%;
    margin-left: -10px;

    ion-chip {
      --background: #{$second-color};
      color: white;
      font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
      font-weight: 200;
      margin-left: 10px;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.7;
    }
  }

  .add-tag {
    width: 100%;
    background: $forth-color;
    border-radius: 10px;
    margin-top: 10px;

    ion-item {
      color: $second-color;
      --border-color: transparent;
      --inner-padding-end: 4px;

      ion-button {
        color: $second-color;
      }
    }

    .separator {
      margin: -1px 15px 10px;
      border: 1px solid #3c1d7c;
      border-radius: 2px;
      opacity: 0.3;
    }

    .tag-list {
      padding: 0 12px 8px;
      display: flex;
      flex-wrap: wrap;

      .title {
        font-size: 14px;
        width: 60px;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: -10px;
        display: flex;
        align-items: center;
      }
    }
  }
}