<app-header>{{'LEGAL_NOTICE.TITLE' | translate}}</app-header>

<ion-content>
    <app-accordion title="Précaution concernant les mesures" [opened]="panelOpened === 1" (open)="panelOpened = 1">
        <div [innerHTML]="'LEGAL_NOTICE.MEASURES_PRECAUTIONS' | translate"></div>
    </app-accordion>
    <app-accordion title="Conditions d'utilisation" [opened]="panelOpened === 2" (open)="panelOpened = 2">
        <div [innerHTML]="'LEGAL_NOTICE.TERMS_OF_USE' | translate"></div>
    </app-accordion>
    <app-accordion title="Editeur" [opened]="panelOpened === 3" (open)="panelOpened = 3">
        <div [innerHTML]="'LEGAL_NOTICE.EDITOR' | translate: {appNameVersion: appNameVersion}"></div>
    </app-accordion>
</ion-content>
