iframe {
  height: 100%;
  width: 100%;
  border: none;
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;

  .spinner-container {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  app-category-label {
    padding: 20px;
  }
}
