<ng-container *ngIf="positionAccuracy <= positionAccuracyEnum.Error; else notError">
    <div class="gps-indicator error">
        GPS : error
    </div>
</ng-container>
<ng-template #notError>
    <ng-container *ngIf="positionAccuracy <= positionAccuracyEnum.Good; else badAccuracy">
        <div class="gps-indicator">
            GPS : bon
        </div>
    </ng-container>
    <ng-template #badAccuracy>
        <div class="gps-indicator bad">
            GPS : moyen
        </div>
    </ng-template>
</ng-template>