.gps-indicator {
  color: white;
  background-color: #14c921;
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 14px;
  font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
  font-weight: 200;
  &.bad {
    background-color: #ff7f00;
  }
  &.error {
    background-color: #e70000;
  }
}
