<ion-content padding class="no-scroll">
    <div class="content">
        <div class="logo">
            <img src="assets/img/logo-big.png">
        </div>
        <div class="subtitle">
            mesurer la radioactivité
        </div>
        <ng-container [ngSwitch]="positionAccuracy$ | async">
            <div *ngSwitchCase="positionAccuracy.Good" class="gps-indicator">
                GPS : bon
            </div>
            <div *ngSwitchCase="positionAccuracy.Bad" class="gps-indicator bad">
                GPS : moyen
            </div>
            <div *ngSwitchCase="positionAccuracy.Error" class="gps-indicator error">
                GPS : error
            </div>
        </ng-container>
        <ng-container *ngIf="connectedDevice$ | async as connectedDevice; else noConnectedDevice">
            <div class="connected-device-header">Capteur connecté</div>
            <ion-button class="connected-device-button" fill="clear" (click)="goToDevices()">
                {{connectedDevice.apparatusVersion}} / {{connectedDevice.apparatusId}}
            </ion-button>
        </ng-container>
        <ng-template #noConnectedDevice>
            <ion-button class="device-button" fill="clear" (click)="goToDevices()">
                Pas de capteur<br>CLIQUEZ ICI
            </ion-button>
        </ng-template>
        <ion-button class="measure-button" fill="clear" [disabled]="!(connectedDevice$ | async) || ((positionAccuracy$ | async) === positionAccuracy.Error)"
                    (click)="startMeasure()">
            <img [src]="(connectedDevice$ | async) ? 'assets/img/button-home-on.png' : 'assets/img/button-home-off.png'">
        </ion-button>
    </div>
</ion-content>
