<ion-content padding>
    <ion-button routerLink="/devices">
        <ng-container *ngIf="connectedDevice$ | async as connectedDevice; else noConnectedDevice">
            {{connectedDevice.apparatusVersion}} / {{connectedDevice.apparatusId}}
        </ng-container>
        <ng-template #noConnectedDevice>
            Pas de capteurs<br>CLIQUEZ ICI
        </ng-template>
    </ion-button>
    <ion-button [disabled]="!(connectedDevice$ | async)" (click)="startMeasure()">Start measure</ion-button>
</ion-content>
