@import 'theme/variables.scss';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 0 15px 0;

  .bottom-buttons {
    margin-top: 20px;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    app-round-button {
      width: 50%;
    }

    .side-buttons {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      pointer-events: none;

      ion-button {
        pointer-events: all;
        position: absolute;
        --border-radius: 10px;

        &.cancel {
          right: 70%;
        }

        &.expert {
          left: 70%;
        }
      }
    }
  }

  .message {
    display: flex;
    white-space: normal;
    text-align: center;
    padding: 5px;

    .message-style {
      color: $second-color;
      font-size: 12px;
      font-style: italic;
    }
  }

  .title {
    --padding-start: 8px;

    ion-label {
      font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
      font-weight: 200;
      font-size: 14px;
      color: white;
      width: 100%;
      margin: 8px 0;
      white-space: normal;
    }
  }

  .range {
    --bar-background-active: #{$second-color};
    --bar-background: #{$forth-color};
  }

  .form {
    width: 100%;
    padding: 5px 10px;
  }

  ion-radio {
    margin-top: 6px;
    --color: white;
    --color-checked: #{$second-color};
  }
}