:host {
  pointer-events: none;
  display: flex;
  justify-content: center;
}

.round-button {
  height: auto;
  width: 100%;
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  margin: 0;
  --border-radius: 50%;
  -webkit-tap-highlight-color: transparent;

  img {
    width: 100%;
    height: auto;
    max-width: 50vw;
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-family: 'ARIALROUNDED', Arial, Helvetica, sans-serif;
}

.subtext {
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-family: 'ARIALROUNDED', Arial, Helvetica, sans-serif;
}
