@import 'src/theme/variables.scss';

// http://ionicframework.com/docs/theming/

// App Global Sass
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply globally. These styles are for
// the entire app and not just one component. Additionally, this file can be
// also used as an entry point to import other Sass files to be included in the
// output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's default Sass
// variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule for the .md, .ios,
// or .wp mode classes. The mode class is automatically applied to the <body>
// element in the app.
@font-face {
  font-family: 'INTERSTATE';
  src: url('assets/fonts/Interstate_Regular.eot');
  src: local('☺'), url('assets/fonts/Interstate_Regular.woff') format('woff'),
    url('assets/fonts/Interstate_Regular.ttf') format('truetype'),
    url('assets/fonts/Interstate_Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-smooth: always;
}

@font-face {
  font-family: 'INTERSTATE';
  src: url('assets/fonts/Interstate_Light.eot');
  src: local('☺'), url('assets/fonts/Interstate_Light.woff') format('woff'),
    url('assets/fonts/Interstate_Light.ttf') format('truetype'), url('assets/fonts/Interstate_Light.svg') format('svg');
  font-weight: 200;
  font-style: normal;
  font-smooth: always;
}

@font-face {
  font-family: 'ARIALROUNDED';
  src: url('assets/fonts/ArialRoundedMTBold.eot');
  src: local('☺'), url('assets/fonts/ArialRoundedMTBold.woff') format('woff'),
    url('assets/fonts/ArialRoundedMTBold.ttf') format('truetype'),
    url('assets/fonts/ArialRoundedMTBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-smooth: always;
}

ion-content {
  /deep/ion-scroll {
    background: linear-gradient(to bottom, $base-color, #00a0dd);
    // TODO disable when we can use this.statusBar.overlaysWebView(true) https://github.com/ionic-team/ionic/issues/13821
    padding-top: 0 !important;
  }
  &.no-scroll {
    .scroll-inner {
      height: 100%;
    }
  }
}

ion-item {
  .item.item-detail-push {
    .item-inner {
      background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012%2020'><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='rgba(255,255,255,0.6)'/></svg>");
    }
  }

  .item.item-input.item-input-has-focus:last-child {
    border-bottom-color: $second-color;
  }
  .item.item-input-has-focus ion-label {
    color: $second-color;
  }
}

ion-button.flat-button {
  button {
    background-color: $second-color;
    color: white;
  }
}

ion-button.flat-button-alt {
  button {
    background-color: $base-color;
    color: white;
  }
}
