<div class="title" *ngIf="title && (!isDisabled || photo)">
    {{title}}
</div>
<div class="photo">
    <ng-container *ngIf="!photo; else showPicture">
        <ion-button class="flat-button photo-button" fill="clear">
            <app-round-button class="button-icon" *ngIf="!isDisabled" [src]="'assets/img/icon-photo.png'"
                              (click)="addPhoto(this.camera.PictureSourceType.CAMERA)">
            </app-round-button>
        </ion-button>
        <ion-button class="flat-button photo-button" fill="clear">
            <app-round-button class="button-icon" *ngIf="!isDisabled" [src]="'assets/img/icon-gallery.png'"
                              (click)="addPhoto(this.camera.PictureSourceType.PHOTOLIBRARY)">
            </app-round-button>
        </ion-button>
    </ng-container>
    <ng-template #showPicture>
        <div class="overlay">
            <ion-img [src]="photo"></ion-img>
            <ion-button *ngIf="!isDisabled" class="icon" (click)="deletePhoto()" fill="clear">
                <ion-icon class="cross" slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </div>
    </ng-template>
</div>