@import 'src/theme/variables';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  width: 100%;

  .title {
    font-family: 'INTERSTATE', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: $second-color;
    margin-bottom: 10px;
  }

  .photo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .photo-buttons {
      margin: 0 10px;
      --border-radius: 10px;
    }
    .picture {
      width: 50%;
      height: auto;
      align-items: center;
      justify-content: center;
      position: relative;
      .icon {
        position: absolute;
        bottom: 2px;
        right: 2px;
      }
    }
  }
}
