@import 'src/theme/variables';

.device-button {
  background-color: $second-color;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 200;
  border-radius: 5px;
  margin: 0 0 10px 0;
  min-height: 60px;
  --padding-top: 4px;
  --padding-end: 4px;
  --padding-bottom: 4px;
  --padding-start: 4px;
  --color-focused: white;
  --color-activated: white;
  --background-focused: transparent;
  --background-activated: transparent;
  --border-radius: 5px;
}
.double-button {
  @extend .device-button;
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;

  .button-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & > div {
      flex: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header {
      background-color: $base-color;
    }
  }
}
