/****************************************************************/
/**************             FONTS               *****************/
/****************************************************************/
@font-face {
    font-family: "INTERSTATE";
    src: url('../fonts/Interstate_Regular.eot');
	src: local('☺'), url('../fonts/Interstate_Regular.woff') format('woff'), url('../fonts/Interstate_Regular.ttf') format('truetype'), 
		url('../fonts/Interstate_Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
    font-smooth:always;
}

@font-face {
    font-family: "INTERSTATE";
    src: url('../fonts/Interstate_Light.eot');
	src: local('☺'), url('../fonts/Interstate_Light.woff') format('woff'), url('../fonts/Interstate_Light.ttf') format('truetype'), 
		url('../fonts/Interstate_Light.svg') format('svg');
	font-weight: lighter;
	font-style: normal;
    font-smooth:always;
}

@font-face {
    font-family: "ARIALROUNDED";
    src: url('../fonts/ArialRoundedMTBold.eot');
	src: local('☺'), url('../fonts/ArialRoundedMTBold.woff') format('woff'), url('../fonts/ArialRoundedMTBold.ttf') format('truetype'), 
		url('../fonts/ArialRoundedMTBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
    font-smooth:always;
}



#lightbulb {
  font-size: 100px;
  display: block;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 10px 0;
}

.chat-user-avatar {
  font-size: 40px;
  background: #ccc;
  padding: 5px 10px;
}

.feature-icon {
  font-size: 44px;
  padding: 0;
  line-height: 68px;
  width: 72px;
  text-align: center;
  opacity: .8;
  border: 3px solid;
  border-radius: 200px;
  height: 72px;
  margin-bottom: 20px;
}

.feature-icon.fa-gamepad {
  line-height: 60px;
}

.feature-icon.fa-tachometer {
  line-height: 60px;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.carousel-example-content {
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -50px;
}


.carousel-item {
  display: block;
  color: #444;
  background: #f4f4f4;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.carousel {
  padding: 20px;
  overflow: visible;
}

.carousel-inner {
  position: relative;
  overflow: visible;
}

.carousel>.item, .carousel-item {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.carousel-inner>.item:first-child {
  z-index: 1998; 
}

.carousel-inner>.item.active {
  z-index: 2000;
}

.carousel-inner>.item.active + .item {
  z-index: 1999;
}

[drag-to-dismiss]{
  transform: translate(0,0); /* NOTE: this is required to prevent mobile webkit issues */ 
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

.notices-container {
  overflow-x: hidden;
}

.dismiss {
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.dismitted {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.list-group-item-home {
  padding: 20px; 
}

pre {
  text-align: left !important;
}

input.scrollable-header {
  border-bottom: 3px solid #ccc;
}

/****AJOUT*****/
.clear{clear:both;}
.has-navbar-top .app-body {
    padding-top: 20.5%; 
}

/*header*/
.navbar-absolute-top {background:#045cb8;border:none;padding-top:3%;padding-bottom:5%;}
.navbar-brand {background:url('../img/logo.png') center center no-repeat transparent;width:100%;
	background-size:contain;padding:0;padding-bottom:12.5%;height:auto;position:relative;}

/*menu*/
.navbar .btn-group{height:50px}
.navbar .btn-group a{height:100%;} 
.navbar .mesure {background:url('../img/mesure.png') center center no-repeat transparent;}
.navbar .histo {background:url('../img/histo.png') center center no-repeat transparent;}
.navbar .param {background:url('../img/param.png') center center no-repeat transparent;}
.navbar .carto {background:url('../img/carto.png') center center no-repeat transparent;}
.navbar .more {background:url('../img/more.png') center center no-repeat transparent;}

/*common*/
.gps {color:white;background-color:#14c921;display:inline-block;border-radius :5px;padding:2px 10px}

/*home*/
.home {
	background: -webkit-linear-gradient(#045cb8, #00a0dd); /* For Safari 5.1 to 6.0 */
	background: linear-gradient(to bottom, #045cb8, #00a0dd);}
.home .logo {background:url('../img/logo-big.png') center center no-repeat transparent;
	background-size:contain;
	width:60%;padding-bottom:23%;margin:18% auto 0;}
.home .homesubtitle{color:#00a0dd;font-size:20px;font-family:'INTERSTATE',Arial,Helvetica,sans-serif;
	margin : 10px}
.home .gps {margin : 10px}
.home .capteur {font-family:'INTERSTATE',Arial,Helvetica,sans-serif; font-size:18px;font-weight:lighter;
	color:white;background-color:#090085;border-radius :5px;border:none;position:relative;z-index:10;display:inline-block;transition: all linear 0.5s;display:block;
	width:70%;margin: 0 auto;padding:2%;}
.home .capteur.on{border-radius :0 0 5px 5px;}
.home .capteur.off{display:none;}
.home .capteur2{font-family:'INTERSTATE',Arial,Helvetica,sans-serif; font-size:18px;font-weight:lighter;
	color:white;background-color:#045db8;border-radius :5px;border:none;position:relative;z-index:10;display:inline-block;transition: all linear 0.5s;display:block;
	width:70%;margin: 0 auto;padding:2%;}
.home .capteur2.on{border-radius :5px 5px 0 0 ;}
.home .capteur2.off{display:none;}
.button-home-bottom {position:absolute;bottom:0;width:100%;}
.home .button-home{height:251px;width:279px;background-color:transparent;background-position:center center;background-size:contain;background-repeat:no-repeat;
	margin:0 auto;transition: all 2s;z-index:1;}
.home .button-home.off{background-image:url('../img/button-home-off.png')}
.home .button-home.on{background-image:url('../img/button-home-on.png')}

.home .icon-progress {
	background:url('../img/icon-progress.png') center center no-repeat transparent;
    /*position: absolute;
    top: 50%;
    left: 50%;*/
    vertical-align: bottom;
    display:inline-block;
    width: 19px;
    height: 25px;
   /* margin:-10px 0 0 -10px;*/
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*mesure*/
.mesure {background-color:#00a0dd}
.mesure .blocGps {background-color:#045cb8;padding: 0 2% 2%}
.mesure .blocMesure1{/*padding-bottom:52.5%*/}
.mesure .blocMesure1 .flex-container1 {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.mesure .mesureDeb, .mesure .mesureTemp{width:49.75%;float:left;margin-top:10px;margin-bottom:5px}
.mesure .mesureTemp{background:url('../img/icon-temp.png') 90% 50% no-repeat transparent;min-height:42px;}
.mesure .border{width:0.5%;background-color:#66ceff;margin-top:10px;margin-bottom:5px}
.mesure .blocMesure1 .desc{font-size:12px;color:#002c9e;font-family:'INTERSTATE',Arial,Helvetica,sans-serif; }
.mesure .blocMesure1 .value{font-size:23px;color:white;font-family:'ARIALROUNDED',Arial,Helvetica,sans-serif; }
.mesure .blocMesure1 .fiability {display:table-row;width:100%}
/*.mesure .blocMesure1 .fiability .desc{float:left;background-color:#66ceff;padding:2px 5px;}*/
.mesure .blocMesure1 .fiability .desc{display:table-cell;float:left;background-color:#66ceff;padding:2px 5px;vertical-align:bottom;}
.mesure .blocMesure1 .fiability .progressbar{display:table-cell;height:10px;vertical-align:bottom;width:100%;position:relative;}

.mesure .blocMesure1 .fiability .progressbar1 {
    content:'\A';
    position:absolute;
    background:#3fb9ee;
    top:50%; bottom:0;
    left:0; 
    width:100%;
    -webkit-animation: filler 2s ease-in-out;
    -moz-animation: filler 2s ease-in-out;
    animation: filler 2s ease-in-out;
}
.mesure .blocMesure1 .fiability .progressbar2 {
    content:'\A';
    position:absolute;
    background:#e70000;
    top:0; bottom:0;
    left:0; 
    width:0%;
    transition:all 1s;
    -webkit-transition:all 1s;
}

.mesure .nbCoups1, .mesure .nbCoups2, .mesure .duree{width:33%;float:left;margin-top:10px;margin-bottom:5px;}
.mesure .duree {background:url('../img/icon-duree.png') center center no-repeat transparent;background-size:contain;min-height:84px;margin-bottom:0;}

.mesure .nbCoups1 .desc, .mesure .nbCoups2 .desc, .mesure .duree .desc{min-height:35px}
.mesure .nbCoups1 .desc, .mesure .duree .desc {padding-top:10px}
.mesure .nbCoups1 .value, .mesure .nbCoups2 .value {font-size:35px}
.mesure .duree .value {font-size:26px}


.mesure .blocMesure2{background-color:#3c1d7c;padding-top:3%;position:relative;z-index:10;}
.mesure .blocMesure2 .desc{color:#d4aeff;font-size:12px;font-family:'INTERSTATE',Arial,Helvetica,sans-serif;text-transform:uppercase;margin:0 3%;}
.mesure .blocMesure2 .value{background:url('../img/bg-radiation.png') center top repeat-x transparent;
	color:white;font-size:10px;font-family:'INTERSTATE',Arial,Helvetica,sans-serif;margin:3% 3% 0;padding-top:10px;padding-bottom:3%;}
.mesure .blocMesure2 .value span{font-size:50px;display:block;font-family:'ARIALROUNDED',Arial,Helvetica,sans-serif;}
.mesure .blocMesure3{}
.button-mesure{height:168px;width:168px;background-color:transparent;background-position:center center;background-size:contain;background-repeat:no-repeat;
	margin:0 auto;transition: all 2s;z-index:1;background-image:url('../img/button-mesure.png');margin-top:-3%;position:relative;
		font-size:24px;color:white;font-family:'ARIALROUNDED',Arial,Helvetica,sans-serif;padding-top:67px;}
		
/*mesure2*/
.mesure2 {background-color:#00a0dd}
.mesure2 .blocMesure1{padding-top:1.5%}
.mesure2 .blocMesure1 .blocGps {position:absolute;top:10px;right:0}
.mesure2 .blocMesure1 .bloc{padding:1.5% 0;margin:0 6%;border-top:#66ceff 1px solid;position:relative;text-align:left}
.mesure2 .bloc:first-child{border:none;}
.mesure2 .blocMesure1 .bloc .desc{display:inline-block;color:#090085;font-size:12px;font-family:'INTERSTATE',Arial,Helvetica,sans-serif;}
.mesure2 .blocMesure1 .bloc .value{display:inline-block;color:white;font-size:12px;font-family:'ARIALROUNDED',Arial,Helvetica,sans-serif;}

.mesure2 .blocMesure2{background-color:#5adaff;padding-top:3%;position:relative;z-index:10;padding-bottom:3%;}
.mesure2 .blocMesure2 .bloc{padding:1.5% 0;margin:0 6%;border-top:#9cf5ff 1px solid;position:relative;}
.mesure2 .bloc:first-child{border:none;}
.mesure2 .blocMesure2 .bloc .desc{color:#090085;font-size:12px;font-family:'INTERSTATE',Arial,Helvetica,sans-serif;padding-bottom:3%}
.mesure2 .blocMesure2 .radios label{width:18%;height:48px;display:inline-block;transition:all 1s;
    -webkit-transition:all 1s;}
.mesure2 .blocMesure2 .radios input{display:none;}
.mesure2 .blocMesure2 label[for=env1]{background:url('../img/icon-env1-off.png') center center no-repeat transparent;}
.mesure2 .blocMesure2 label[for=env1].on {background:url('../img/icon-env1-on.png') center center no-repeat transparent;}
.mesure2 .blocMesure2 label[for=env2]{background:url('../img/icon-env2-off.png') center center no-repeat transparent;}
.mesure2 .blocMesure2 label[for=env2].on {background:url('../img/icon-env2-on.png') center center no-repeat transparent;}
.mesure2 .blocMesure2 label[for=env3]{background:url('../img/icon-env3-off.png') center center no-repeat transparent;}
.mesure2 .blocMesure2 label[for=env3].on {background:url('../img/icon-env3-on.png') center center no-repeat transparent;}
.mesure2 .blocMesure2 label[for=env4]{background:url('../img/icon-env4-off.png') center center no-repeat transparent;}
.mesure2 .blocMesure2 label[for=env4].on {background:url('../img/icon-env4-on.png') center center no-repeat transparent;}
.mesure2 .blocMesure2 label[for=env5]{background:url('../img/icon-env5-off.png') center center no-repeat transparent;}
.mesure2 .blocMesure2 label[for=env5].on {background:url('../img/icon-env5-on.png') center center no-repeat transparent;}

.mesure2 .blocMesure2 .radios2 input{display:none;}
.mesure2 .blocMesure2 .radios2 label{font-size:12px;font-family:'ARIALROUNDED',Arial,Helvetica,sans-serif;color:#1b5eb9;transition:all 1s;}
.mesure2 .blocMesure2 .radios2 label span{color:white;background:#1b5eb9;transition:all 1s;display:inline-block;height:18px;width:18px;margin-right:7px;
	border-radius:9px;padding:1px;margin-left:20px;}
.mesure2 .blocMesure2 .radios2 label.on{color:#090085}
.mesure2 .blocMesure2 .radios2 label.on span{background:#090085}

.mesure2 .blocMesure2 .textes input{background:#9cf5ff;border:none;border-radius: 5px;padding:0 5px;color:#090085;font-family:'INTERSTATE',Arial,Helvetica,sans-serif;
	font-size:12px;width:48%;margin-left:1%;display: inline-block;box-sizing: border-box;}
.mesure2 .blocMesure2 .textes input:first-child{margin-left:0;}
.mesure2 .blocMesure2 .textes input::-webkit-input-placeholder
	{color:#090085;font-family:'INTERSTATE',Arial,Helvetica,sans-serif;font-size:12px;}
.mesure2 .blocMesure2 .textes input:-moz-placeholder 
	{color:#090085;font-family:'INTERSTATE',Arial,Helvetica,sans-serif;font-size:12px;}
.mesure2 .blocMesure2 .textes input::-moz-placeholder
	{color:#090085;font-family:'INTERSTATE',Arial,Helvetica,sans-serif;font-size:12px;}
.mesure2 .blocMesure2 .textes input:-ms-input-placeholder
	{color:#090085;font-family:'INTERSTATE',Arial,Helvetica,sans-serif;font-size:12px;}
.mesure2 .blocMesure3 {position:relative;}
.mesure2 .blocMesure3 .annul {position:absolute;top:40%;left:3%;width:30%;z-index:10}
.mesure2 .blocMesure3 .expert {position:absolute;top:40%;right:3%;width:30%;z-index:10}
.mesure2 .blocMesure3 .button-more{color:white;background:#090085;font-family:'ARIALROUNDED',Arial,Helvetica,sans-serif;font-size:16px;border-radius: 5px;}

/*histo*/
.histo {
	background: -webkit-linear-gradient(#045cb8, #00a0dd); /* For Safari 5.1 to 6.0 */
	background: linear-gradient(to bottom, #045cb8, #00a0dd);}
.title{font-size:30px;font-family:'ARIALROUNDED',Arial,Helvetica,sans-serif;color:white;background-color:#00a0dd;position:fixed;width:100%;}
.page-content{padding:3%;padding-top:50px;}
.histo .ligne{padding: 1% 0;border-top:1px solid #66ceff;}
.histo .ligne:first-child{border:none;}
.histo .date{display:inline-block;font-family:'INTERSTATE',Arial,Helvetica,sans-serif;font-size:12px;color:white; width:32%;text-align:left;line-height:30px;
	font-weight:bold;}
.histo .value{display:inline-block;font-family:'ARIALROUNDED',Arial,Helvetica,sans-serif;font-size:12px;color:white; width:32%;text-align:left;}
.histo .button{display:inline-block;font-family:'INTERSTATE',Arial,Helvetica,sans-serif;font-size:12px;color:white; width:32%;vertical-align: middle;}
.histo .button .send{display:inline-block;width:24px;height:24px;background:url('../img/icon-send.png') center center no-repeat transparent;margin:0 10px}
.histo .button .delete{display:inline-block;width:24px;height:24px;background:url('../img/icon-delete.png') center center no-repeat transparent;margin:0 10px}
.histo .published{display:inline-block;font-family:'INTERSTATE',Arial,Helvetica,sans-serif;font-size:12px;color:white; width:32%}

/*param*/
.param {
	background: -webkit-linear-gradient(#045cb8, #00a0dd); /* For Safari 5.1 to 6.0 */
	background: linear-gradient(to bottom, #045cb8, #00a0dd);}

/*more*/
.more {
	background: -webkit-linear-gradient(#045cb8, #00a0dd); /* For Safari 5.1 to 6.0 */
	background: linear-gradient(to bottom, #045cb8, #00a0dd);}
.or-panel{border:1px solid white;    background-color:transparent;color:white;text-align:left;transition:all 1s;
    -webkit-transition:all 1s;}
.or-panel h4 {font-family:'ARIALROUNDED',Arial,Helvetica,sans-serif;font-size:20px;}
.or-panel .panel-body{font-family:'INTERSTATE',Arial,Helvetica,sans-serif;font-size:12px;text-align:justify;border-top:1px solid #66ceff;padding:15px 0;margin:0 15px;transition:all 1s;
    -webkit-transition:all 1s;}