/****************************************************************/
/**************             FONTS               *****************/
/****************************************************************/
@font-face {
    font-family: "INTERSTATE";
    src: url('../fonts/Interstate_Regular.eot');
	src: local('☺'), url('../fonts/Interstate_Regular.woff') format('woff'), url('../fonts/Interstate_Regular.ttf') format('truetype'), url('../fonts/Interstate_Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
    font-smooth:always;
}

@font-face {
    font-family: "INTERSTATE";
    src: url('../fonts/Interstate_Light.eot');
	src: local('☺'), url('../fonts/Interstate_Light.woff') format('woff'), url('../fonts/Interstate_Light.ttf') format('truetype'), url('../fonts/Interstate_Light.svg') format('svg');
	font-weight: lighter;
	font-style: normal;
    font-smooth:always;
}

@font-face {
    font-family: "ARIALROUNDED";
    src: url('../fonts/ArialRoundedMTBold.eot');
	src: local('☺'), url('../fonts/ArialRoundedMTBold.woff') format('woff'), url('../fonts/ArialRoundedMTBold.ttf') format('truetype'), url('../fonts/ArialRoundedMTBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
    font-smooth:always;
}



#lightbulb {
  font-size: 100px;
  display: block;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 10px 0;
}

.chat-user-avatar {
  font-size: 40px;
  background: #ccc;
  padding: 5px 10px;
}

.feature-icon {
  font-size: 44px;
  padding: 0;
  line-height: 68px;
  width: 72px;
  text-align: center;
  opacity: .8;
  border: 3px solid;
  border-radius: 200px;
  height: 72px;
  margin-bottom: 20px;
}

.feature-icon.fa-gamepad {
  line-height: 60px;
}

.feature-icon.fa-tachometer {
  line-height: 60px;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.carousel-example-content {
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -50px;
}


.carousel-item {
  display: block;
  color: #444;
  background: #f4f4f4;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.carousel {
  padding: 20px;
  overflow: visible;
}

.carousel-inner {
  position: relative;
  overflow: visible;
}

.carousel>.item, .carousel-item {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.carousel-inner>.item:first-child {
  z-index: 1998; 
}

.carousel-inner>.item.active {
  z-index: 2000;
}

.carousel-inner>.item.active + .item {
  z-index: 1999;
}

[drag-to-dismiss]{
  transform: translate(0,0); /* NOTE: this is required to prevent mobile webkit issues */ 
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

.notices-container {
  overflow-x: hidden;
}

.dismiss {
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.dismitted {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.list-group-item-home {
  padding: 20px; 
}

pre {
  text-align: left !important;
}

input.scrollable-header {
  border-bottom: 3px solid #ccc;
}

/****AJOUT*****/
.clear{clear:both;}
.has-navbar-top .app-body {
    padding-top: 20.5%; 
}

/*header*/
.navbar-absolute-top {background:#045cb8;border:none;padding-top:3%;padding-bottom:5%;}
.navbar-brand {background:url('../img/logo.png') center center no-repeat transparent;width:100%;
	background-size:contain;padding:0;padding-bottom:12.5%;height:auto;position:relative;}

/*menu*/
.navbar .btn-group{height:50px}
.navbar .btn-group a{height:100%;} 
.navbar .mesure {background:url('../img/mesure.png') center center no-repeat transparent;}
.navbar .histo {background:url('../img/histo.png') center center no-repeat transparent;}
.navbar .param {background:url('../img/param.png') center center no-repeat transparent;}
.navbar .carto {background:url('../img/carto.png') center center no-repeat transparent;}
.navbar .more {background:url('../img/more.png') center center no-repeat transparent;}

/*common*/
.gps {color:white;background-color:#14c921;display:inline-block;border-radius :5px;padding:2px 10px}

/*home*/
.home {
	background: -webkit-linear-gradient(#045cb8, #00a0dd); /* For Safari 5.1 to 6.0 */
	background: linear-gradient(to bottom, #045cb8, #00a0dd);}
.home .logo {background:url('../img/logo-big.png') center center no-repeat transparent;
	background-size:contain;
	width:60%;padding-bottom:23%;margin:18% auto 0;}
.home .homesubtitle{color:#00a0dd;font-size:20px;font-family:'INTERSTATE',Arial,Helvetica,sans-serif;
	margin : 10px}
.home .gps {margin : 10px}
.home .capteur {font-family:'INTERSTATE',Arial,Helvetica,sans-serif; font-size:18px;font-weight:lighter;
	color:white;background-color:#090085;border-radius :5px;border:none;position:relative;z-index:10;display:inline-block;transition: all linear 0.5s;}
.home .capteur2{font-family:'INTERSTATE',Arial,Helvetica,sans-serif; font-size:18px;font-weight:lighter;
	color:white;background-color:#045db8;border-radius :5px;border:none;position:relative;z-index:10;display:inline-block;transition: all linear 0.5s;}
.button-home-bottom {position:absolute;bottom:0;width:100%;}
.home .button-home{height:251px;width:279px;background-color:transparent;background-position:center center;background-size:contain;background-repeat:no-repeat;
	margin:0 auto;transition: all 2s;z-index:1;}
.home .button-home.off{background-image:url('../img/button-home-off.png')}
.home .button-home.on{background-image:url('../img/button-home-on.png')}

/*mesure*/
.mesure {background-color:#00a0dd}
.mesure .blocGps {background-color:#045cb8;padding: 0 2% 2%}
.mesure .blocMesure1{/*padding-bottom:52.5%*/}
.mesure .blocMesure1 .flex-container1 {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.mesure .mesureDeb, .mesure .mesureTemp{width:49.75%;float:left;margin-top:10px;margin-bottom:5px}
.mesure .border{width:0.5%;background-color:#66ceff;margin-top:10px;margin-bottom:5px}
.mesure .blocMesure1 .desc{font-size:12px;color:#002c9e;font-family:'INTERSTATE',Arial,Helvetica,sans-serif; }
.mesure .blocMesure1 .value{font-size:23px;color:white;font-family:'ARIALROUNDED',Arial,Helvetica,sans-serif; }
.mesure .blocMesure1 .fiability {display:table-row;width:100%}
/*.mesure .blocMesure1 .fiability .desc{float:left;background-color:#66ceff;padding:2px 5px;}*/
.mesure .blocMesure1 .fiability .desc{display:table-cell;float:left;background-color:#66ceff;padding:2px 5px;vertical-align:bottom;}
.mesure .blocMesure1 .fiability .progressbar{display:table-cell;height:10px;vertical-align:bottom;width:100%;position:relative;}
/*.mesure .blocMesure1 .fiability .progressbar:before {
    content:'\A';
    position:absolute;
    background:#3fb9ee;
    top:50%; bottom:0;
    left:0; 
    width:100%;
    -webkit-animation: filler 2s ease-in-out;
    -moz-animation: filler 2s ease-in-out;
    animation: filler 2s ease-in-out;
}
.mesure .blocMesure1 .fiability .progressbar:after {
    content:'\A';
    position:absolute;
    background:red;
    top:50%; bottom:0;
    left:0; 
    width:50%;
    -webkit-animation: filler 2s ease-in-out;
    -moz-animation: filler 2s ease-in-out;
    animation: filler 2s ease-in-out;
}*/

.mesure .blocMesure1 .fiability .progressbar1 {
    content:'\A';
    position:absolute;
    background:#3fb9ee;
    top:50%; bottom:0;
    left:0; 
    width:100%;
    -webkit-animation: filler 2s ease-in-out;
    -moz-animation: filler 2s ease-in-out;
    animation: filler 2s ease-in-out;
}
.mesure .blocMesure1 .fiability .progressbar2 {
    content:'\A';
    position:absolute;
    background:#e70000;
    top:0; bottom:0;
    left:0; 
    width:0%;
    transition:all 1s;
    -webkit-transition:all 1s;
}

.mesure .nbCoups1, .mesure .nbCoups2, .mesure .duree{width:33%;float:left;margin-top:10px;margin-bottom:5px}


.mesure .blocMesure2{background-color:#3c1d7c;padding-bottom:47%}
.mesure .blocMesure3{padding-bottom:46.5%}